@use "sass:map";
@use "../../../theme" as theme;

.menu-tiles-container {
  border-radius: 2px;
  cursor: pointer;
  isolation: isolate;

  &::before, &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
  }

  &::before {
    background: white;
    mix-blend-mode: color-burn;
  }

  &::after {
    background: map.get(theme.$mat-primary, main);
    mix-blend-mode: lighten;
  }

  &:hover {
    border-radius: 0;
    &::before, &::after {
      transform: scale(2);
    }
  }
}

.menu-tile-grid-layout {
  width: 100%;
  height: 100%;
  padding-top: 48px;
}

@keyframes bump {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}
