<div mat-dialog-content class="content">
  <h2>Zahlungen</h2>
  @if (invoice) {
    <span class="neutral">{{ invoice.name }} &bullet; Nr. {{ invoice.number }}
      &bullet; vom {{ invoice.date_formatted }}</span>
  }
  @if (invoice) {
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12" class="mt-24">
      <div class="box">
        <strong class="neutral">Rechnungsbetrag</strong>
        <h3>{{ formatCurrency(invoice.total, "de-DE", "EUR") }}</h3>
      </div>
      <div class="box">
        <strong class="neutral">Bereits bezahlt</strong>
        <h3>{{ formatCurrency(paid(), "de-DE", "EUR") }}</h3>
      </div>
      <div class="box primary">
        <strong class="neutral">Offener Betrag</strong>
        <h3>{{ formatCurrency(open(), "de-DE", "EUR") }}</h3>
      </div>
    </div>
  }
  <form class="mt-12" [formGroup]="liabilityGroup">
    <strong>Zahlungsplan</strong>
    <ng-container formArrayName="entries">
      @for (group of liabilityGroup.controls.entries.controls; track group.controls.id; let index = $index; let last = $last; let first = $first) {
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16" [formGroup]="group"
             class="mt-6 liability" [class.hidden]="group.get('deleted').value"
             [class.deleted]="group.get('deleted').value"
             [class.highlight]="last">
          <div fxFlex>
            <mat-form-field appearance="outline" class="new-form-element">
              <mat-label>
                Fälligkeit
                @if (hasChangesControl(group, "dueDate")) {
                  *
                }
              </mat-label>
              <input matInput [matDatepicker]="date_picker"
                     formControlName="dueDate">
              <mat-datepicker-toggle [for]="date_picker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #date_picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="outline" class="new-form-element">
              <mat-label>
                Betrag
                @if (hasChangesControl(group, "amount")) {
                  *
                }
              </mat-label>
              <input matInput
                     formControlName="amount"
                     type="number" />
              <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8">

            <button matIconButton [class.opacity-0]="last || group.get('paid').value" (click)="toggleDelete(index)">
              <mat-icon>
                @if (group.get('deleted').value) {
                  add
                } @else {
                  delete
                }</mat-icon>
            </button>

            <button type="button" (click)="onPayLiability(group.get('id').value, group.get('paid').value)"
                    mat-raised-button
                    [class.paid]="group.get('paid').value"
                    [class.unpaid]="!group.get('paid').value">
              @if (group.get('paid').value) {
                Zahlung löschen
              } @else {
                Zahlung hinzufügen
              }
            </button>
          </div>
        </div>
      }
    </ng-container>
    <div fxLayout="row" fxLayoutAlign="end center" class="mt-6">
      <button mat-stroked-button (click)="onAddLine()"
              [disabled]="open() === 0 && this.liabilityGroup.controls.entries.length !== 0">Hinzufügen
      </button>
    </div>
  </form>
</div>
<mat-dialog-actions>
  @if (loading$ | async) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
      <button type="button" mat-raised-button color="accent" (click)="onCancelClick()">Schließen</button>

      <div fxFlex></div>
      <button mat-icon-button (click)="onRecalculateRest()"
              [disabled]="lastPaid()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button type="button" mat-stroked-button (click)="onPayAllRemaining()"
              [disabled]="lastPaid()">Alle als bezahlt markieren
      </button>
      <button type="button" mat-raised-button color="primary" (click)="onSave()"
              [disabled]="!hasChanges() || formInvalid()">
        Speichern
      </button>
    </div>
  }
</mat-dialog-actions>
