<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="changePathFormGroup">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="fill">
                <mat-label>Pfad</mat-label>
                <input matInput formControlName="path">
            </mat-form-field>
            <button type="button" mat-button (click)="selectPathClicked()">Öffnen</button>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancelClick()">Abbrechen</button>
    <button mat-button type="button" (click)="onSubmitClick()">Speichern</button>
</div>
