@use 'sass:map';
@use "../../../shared/components/base-edit/base-edit.component";
@use "../../../../theme" as theme;

.dialog-content {
  margin: 0;
  padding: 0;

  .add-button {
    background-color: map.get(theme.$mat-primary, main);
  }

}

.mat-mdc-dialog-content{
  max-height: 85vh;
}

form{
  mat-form-field{
    max-width: 700px;
  }
}

div.checkbox {
  align-self: center;
  display: flex;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}
