<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" class="dialog-content">
  <form (submit)="onAddClick()" [formGroup]="productEditGroup">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <textarea rows="3" matInput formControlName="name"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field appearance="fill" fxFlexFill>
        <mat-label>Bemerkung (intern)</mat-label>
        <textarea rows="2" matInput formControlName="comment"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field appearance="fill">
        <mat-label>Position</mat-label>
        <input matInput type=text formControlName="position">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mod Nummer</mat-label>
        <input [maxLength]="30" matInput formControlName="mod_number">
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field appearance="fill">
        <mat-label>Anfrage</mat-label>
        <mat-select formControlName="request" [disabled]="blockRequestChange">
          <mat-option [value]="true">
            Ja
          </mat-option>
          <mat-option [value]="false">
            Nein
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Favorit</mat-label>
        <mat-select formControlName="favorite">
          <mat-option [value]="true">
            Ja
          </mat-option>
          <mat-option [value]="false">
            Nein
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field appearance="fill">
        <mat-label>Menge</mat-label>
        <input matInput type="number" formControlName="amount">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Einheit</mat-label>
        <mat-select formControlName="unit_id">
          @if (unitOptions$ | async; as units) {
            @for (unit of units; track unit.id) {
              <mat-option [value]="unit.id">
                {{ unit.name.translation }}
              </mat-option>
            }
          }
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Preis</mat-label>
      <input matInput type=text formControlName="priceFormatted" (blur)="transformAmount()">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="70">
        <mat-form-field appearance="fill">
          <mat-label>Gesamtpreis [€]</mat-label>
          <input matInput class="no-spinner" type="number" formControlName="total_price">
        </mat-form-field>
      </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      @if (!createMode) {
        <button type="button" mat-button (click)="onDeleteClick()">Löschen</button>
      }
      <span class="spacer"></span>
      <button type="button" mat-button (click)="onNoClick()">Abbrechen</button>
      <button type="submit" [disabled]="!productEditGroup.valid" mat-button class="add-button">Hinzufügen
      </button>
    </div>
  </form>
</div>
