<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" class="dialog-content">
    <form (submit)="onAddClick()" [formGroup]="productEditGroup">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill" fxFlexFill>
                <mat-label>Beschreibung (extern)</mat-label>
                <textarea rows="5" matInput formControlName="custom_description"></textarea>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill" fxFlexFill>
                <mat-label>Bemerkung (intern)</mat-label>
                <textarea rows="2" matInput formControlName="comment"></textarea>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill">
                <mat-label>Position</mat-label>
                <input matInput type=text formControlName="position">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Mod Nummer</mat-label>
                <input [maxLength]="30" matInput formControlName="mod_number">
            </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill">
                <mat-label>Anfrage</mat-label>
                <mat-select formControlName="request" [disabled]="blockRequestChange">
                    <mat-option [value]="true">
                        Ja
                    </mat-option>
                    <mat-option [value]="false">
                        Nein
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Mehrwertsteuer</mat-label>
                <mat-select formControlName="vat_id">
                    <mat-option *ngFor="let vat of vatOptions$ | async" [value]="vat.id">
                        {{vat.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill">
                <mat-label>Menge</mat-label>
                <input matInput type=number formControlName="amount">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Einheit</mat-label>
                <mat-select formControlName="unit_id">
                    <mat-option *ngFor="let unit of unitOptions$ | async" [value]="unit.id">
                        {{unit.name.translation}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill">
                <mat-label>Preis</mat-label>
                <input matInput type=text formControlName="priceFormatted" (blur)="transformAmount()" [readonly]="!singlePrice">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Rabatt</mat-label>
                <input matInput type=number formControlName="discount">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="30" class="checkbox">
                <mat-checkbox formControlName="single_price_insert">Einzelpreis eingeben</mat-checkbox>
            </div>
            <div fxFlex="70">
                <mat-form-field appearance="fill">
                    <mat-label>Gesamtpreis [€]</mat-label>
                    <input matInput [readonly]="singlePrice" type="number" formControlName="total_price">
                </mat-form-field>
            </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-around start">
            <button *ngIf="!createMode" type="button" mat-button (click)="onDeleteClick()">Löschen</button>
            <span class="spacer"></span>
            <button type="button" mat-button (click)="onNoClick()">Abbrechen</button>
            <button type="submit" [disabled]="!productEditGroup.valid" mat-button class="add-button">Hinzufügen
            </button>
        </div>
    </form>
</div>
