<div class="small-card" [ngClass]="{'weekend': weekend, 'today': today}">
  <div class="day-title">
    <strong class="neutral">{{ titleDayOfTheWeek }}, {{ titleDay }}</strong>
  </div>
  <div class="entries">
    @if (calendarEntries$ | async; as calendarEntries) {
      @for (calendarEntry of calendarEntries; track calendarEntry) {
        <div class="entry"
             (click)="onCalendarEntryClicked(calendarEntry.id)">
          <div class="when-author"
               title="Wann">
            <span class="when">{{ getCalendarStartEndTime(calendarEntry) }}</span>
            @if (public) {
              <span class="author">{{ calendarEntry.user.firstname }}</span>
            }
          </div>
          <div class="description-title" title="Beschreibung">
            <strong>{{ calendarEntry.title }}</strong>
            <span class="description">{{ calendarEntry.description }}</span>
          </div>
        </div>
      }
      @if (calendarEntries.length === 0) {
        <div class="no-entry">
          Kein Eintrag
        </div>
      }
    }
  </div>
</div>
