@use 'sass:map';
@use "../../../../../theme" as theme;
@use "sass:color";

.day-title {

}

.entries {
  table-layout: fixed;
  border-left: solid thin rgb(0 0 0 / 20%);

  tr {
    cursor: pointer;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 20%);

    td:first-child {
      min-width: 80px;
      max-width: 80px;
      width: 80px;
    }
  }

  tr.no-entry {
    cursor: default;
  }

  tr:last-child {
    visibility: hidden;
    display: none;
    box-shadow: none;
  }

  tr:first-child {
    visibility: visible;
    display: table-row;
  }

  tr:nth-last-child(2) {
    box-shadow: none;
  }

  .no-entry {
    text-align: center;
  }

  tr:hover {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }

  tr.no-entry:hover {
    box-shadow: none;
  }
}

.small-card {
  padding: 10px;
  height: 10vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weekend {
  opacity: 0.6;
}

.today {
  background-color: color.scale(map.get(theme.$mat-primary, main), $alpha: -90%);

  ::ng-deep {
    table {
      background-color: transparent;
    }
  }
}
