@if (!loading) {
  <h1 mat-dialog-title>Wartung bearbeiten: {{service.user.fullname}}</h1>
}
@if (!loading) {
  <div mat-dialog-content>
    @if (!loading) {
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <button mat-button (click)="onDeleteClick()" type="button">Eintrag löschen</button>
        <app-minute-hour [minuteControl]="getMinuteControl()" title="Neue Zeit: "></app-minute-hour>
      </div>
    }
  </div>
}
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button (click)="onYesClick()">Speichern</button>
</div>
