<div fxLayout="column" fxLayoutGap="16" class="my-1">
  <mat-form-field [appearance]="outline ? 'outline' : 'fill'" fxFlex [class.new-form-element]="outline">
    <mat-label>{{ label }}</mat-label>
    <div class="highlight-backdrop" #highlightsContainer>
      <div class="highlights">
        @for (part of parts; track part.key) {
          @if (part.hasNewlineBefore) {
            <br />
          }
          <span [class.mark]="part.highlighted" [class.warn]="part.warn">{{ part.value }}</span>
          @if (part.hasNewlineAfter) {
            <br />
          }
        }
      </div>
    </div>
    <textarea type="text" [readonly]="readonly" class="calculation-textarea" cdkTextareaAutosize
              cdkAutosizeMinRows="3" #calculationInput matInput
              (input)="onCalculationKeyUp()" (mouseup)="onCalculationKeyUp()">{{ value }}</textarea>
    <mat-icon matSuffix class="neutral" (click)="fieldSuffix?.onClick()">{{ fieldSuffix?.icon }}</mat-icon>
    <mat-hint>
      @if (hintStyle === "none") {

      } @else if (hintStyle !== 'offertext') {
        <code
          class="font-math">&#64;Feldname</code> tippen um ein anderes Feld zu referenzieren. Operatoren: + (plus), - (minus), *
          (mal), /
          (geteilt)<br />
        @if (hintStyle !== "small") {
          Es können alle Felder im System referenziert werden. Ein Element welches dieses Feld enthält, muss die
            referenzieren Felder auch haben<br />
          Beispiele:
          <ul>
            <li>Volumen = <code class="font-math">&#64;Höhe * &#64;Breite * &#64;Tiefe</code></li>
            <li>Wenn z.B. Breite und Tiefe in mm angegeben wird, kann man: Fläche(m³) = <code class="font-math">&#64;Breite
              / 1000 *
              &#64;Tiefe
              /
              1000</code>
            </li>
            <li>Mit <code class="font-math">max(a,b)</code> kann ein maximalwert definiert werden: z.B.: <code
              class="font-math">max(&#64;Höhe
              *
              &#64;Breite, 20)</code> ergibt 20 wenn höhe * breite größer als
              20 ist
            </li>
            <li>Mit <code class="font-math">min(a,b)</code> kann ein mindestwert definiert werden: z.B.: <code
              class="font-math">min(&#64;Höhe
              *
              &#64;Breite, 20)</code> ergibt 20 wenn höhe * breite kleiner als
              20 ist
            </li>

          </ul>
        }
      } @else {
        Definiere wie sich der Angebotstext zusammengesätzt.<br />
        Mit
        <code
          class="font-math">&#64;children</code> werden die Angebotstexte aller sichtbaren Kinder eingefügt (jeweils auf einer neuen Zeile). Die Kinder werden dann im Angebot nicht separat nummeriert.
      }

    </mat-hint>
  </mat-form-field>
  @if (!readonly) {
    <div fxLayout="row" fxLayoutGap="8" class="my-1 autocomlete-buttons">
      @for (field of displayFields; track field) {
        <button type="button" (click)="onFieldClick(displayFields[$index])" mat-stroked-button
                class="autocomplete-button">{{ field }}
        </button>
      }
    </div>
  }
</div>
