.field {
  padding: 6px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #E5E5E5;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin: 4px 0;
  min-height: 60px;

  &.new {
    box-shadow: none;
    background-color: var(--primary-lighter-color);
    border-color: var(--primary-color);
    border-style: dashed;
    justify-content: center;
  }

  .label-extra {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;


    font-weight: 400;

    .field-label {
      line-height: 28px;
    }

    .field-extra {
      line-height: 20px;
      color: #797971;
    }
  }

  .field-type {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 14px;
  }

  .sort-icon, .delete-icon {
    color: #797971;
  }
}

.fields-dialog {
  position: fixed;
  top: 0;
  z-index: 1001;
  height: 100vh;
  min-width: 20vw;
  right: -21vw;
  box-shadow: -4px 0 3px 1px rgba(0, 0, 0, .1);
  background-color: #fff;
  transition: right 0.4s ease-in-out;

  &.open {
    right: 0;
  }

  .content {
    margin: 18px 42px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 16px;
  }
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
