<app-offer-container title="Elementtypen">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16">
    <h3>{{ subTitle }}</h3>
    <div fxFlex></div>
    @if (loading$ | async) {
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    } @else {
      @if (!!elementTypeId) {
        <button mat-raised-button color="warn" (click)="onDelete()">Löschen</button>
      }
      <button mat-raised-button color="primary" (click)="onSave()">Speichern</button>
    }
  </div>

  <form [formGroup]="elementTypeGroup">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      <div fxLayout="row" fxLayoutGap="16">
        <mat-form-field fxFlex>
          <mat-label>Name</mat-label>
          <input class="form-control" formControlName="name" matInput>
        </mat-form-field>
      </div>
      <h3>Felder</h3>
      <app-list-element leftIcon="lock" rightIcon="lock" mainText="Beschreibung"
                        subText="Systemfeld">
        <app-offer-field-element-type-pill fieldType="TEXT"></app-offer-field-element-type-pill>
      </app-list-element>
      <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="draggable-list">
        @for (field of selectedFields; track field.id) {
          <app-list-element rightIcon="delete" pointerRightIcon isDraggable class="draggable-element" cdkDrag
                            cdkDragBoundary=".draggable-list"
                            (clickedRightIcon)="onRemoveField(field)" [mainText]="field.label"
                            [subText]="field.fieldType === OfferFieldEnum.Calculation ? field.calculation : field.unit?.short">
            <app-offer-field-element-type-pill [fieldType]="field.fieldType"></app-offer-field-element-type-pill>
          </app-list-element>
        }
      </div>
      <app-list-element leftIcon="add" mainText="Feld hinzufügen" (clicked)="openFieldsDialog()"
                        dottedAccent centered pointer>
      </app-list-element>
      <h3>Preisberechnung</h3>
      <app-offer-calculation-input hintStyle="small" label="Berechnung" [filterFields]="selectedFields"
                                   [value]="elementTypeGroup.get('price').value"
                                   [setValue]="onSetPrice.bind(this)"></app-offer-calculation-input>
      <h3>Angebotstext</h3>
      <app-offer-calculation-input hintStyle="offertext" label="Angebotstext" [filterFields]="selectedFields"
                                   [value]="elementTypeGroup.get('offertext').value"
                                   [setValue]="onSetOffertext.bind(this)"></app-offer-calculation-input>
    </div>
  </form>

  <div [class]="dialogOpen ? 'overlay visible' : 'overlay'" (click)="closeFieldsDialog()"></div>
  <div [class]="dialogOpen ? 'fields-dialog open' : 'fields-dialog'">
    <div class="content">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Felder</h4>
        <mat-icon (click)="closeFieldsDialog()" class="cursor-pointer">close</mat-icon>
      </div>
      <mat-form-field>
        <mat-label>Suchen</mat-label>
        <input matInput #search (input)="onSearchField()">
        <mat-icon matSuffix>search</mat-icon>

      </mat-form-field>
      @for (field of displayFields; track field.id) {
        <app-list-element [mainText]="field.label" pointer [subText]="field.unit?.short" (clicked)="onAddField(field)">
          <app-offer-field-element-type-pill [fieldType]="field.fieldType"></app-offer-field-element-type-pill>
        </app-list-element>
      }
      <button mat-stroked-button color="primary" class="my-2" (click)="onNavCreateField()">Neues Feld erstellen</button>
    </div>
  </div>
</app-offer-container>
