<div class="flex flex-col justify-start items-stretch flex-row w-full h-full min-w-full min-h-full box-border">
  <mat-toolbar color="accent" class="flex-[10_undefined_undefined] box-border">
    <div fxShow="true" class="flex flex-row justify-between items-center">

      <button mat-icon-button="" (click)="todayClicked()" title="Heute">
        <mat-icon>today</mat-icon>
      </button>
      <div>
        <button mat-icon-button="" (click)="previousWeekClicked()" title="Vorherige Woche">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <span>{{ dayManager.getStartDate() + " - " + dayManager.getEndDate()}}</span>
        <button mat-icon-button="" (click)="nextWeekClicked()" title="Nächste Woche">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
      <!--
      <div fxFlex="60" class="calendar-select">
        <mat-form-field fxFlexFill>
          <mat-label># Tage</mat-label>
          <mat-select [(value)]="amountOfDays" (valueChange)="amountOfDaysChanged()">
            <mat-option *ngFor="let day of dayManager.getSelectableDays()" [value]="day.value">
              {{day.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      -->
      <button *ngIf="createAllowed" mat-icon-button="" (click)="newMeetingClicked()" class="add-button" title="Neuer Termin">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="calendar-days flex flex-col justify-start items-stretch flex-row gap-[5px] flex-[90_undefined_undefined] box-border">
    <app-calendar-day [day]="day" [calendarId]="calendarId" [public]="public" *ngFor="let day of dayManager.getShownDayArray()">
    </app-calendar-day>
  </div>
</div>
