<div class="outer-container">
  <div class="header">
    <app-circle-icon-button backgroundColor="white" (click)="todayClicked()" icon="today" />
    <app-circle-icon-button backgroundColor="white" (click)="previousWeekClicked()" icon="navigate_before" />
    <span>{{ dayManager.getStartDate() + " - " + dayManager.getEndDate() }}</span>
    <app-circle-icon-button backgroundColor="white" (click)="nextWeekClicked()" icon="navigate_next" />
    <app-circle-icon-button backgroundColor="white" (click)="newMeetingClicked()" icon="add"
                            [class.hidden]="!createAllowed" />
  </div>
  <div class="calendar-days">
    @for (day of dayManager.getShownDayArray(); track day) {
      <app-calendar-day [day]="day" [calendarId]="calendarId" [public]="public" />
    }
  </div>
</div>
