.table-row {
  cursor: pointer;

  &:hover {
    font-weight: bolder;
    box-shadow: inset 0px -1px 4px 0px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0px -1px 4px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: inset 0px -1px 4px 0px rgb(0 0 0 / 30%);
  }
}

.mat-mdc-table {
  border-collapse: separate !important;
  border-spacing: 0 4px !important;
}

.search-input-wrapper {
  margin-top: 16px;
}

.mat-mdc-row.is-mini,
.mat-mdc-row.is-mini .mat-mdc-cell {
  border-top: 1px solid black;
}

.mt-6 {
  margin-top: 6px;
}

.actions {
  justify-content: flex-end;
}

.drag-handler {
  cursor: grab;
  max-width: 42px;
  padding-left: 12px;
  padding-right: 12px;
}

.draggable-list.cdk-drop-list-dragging, .draggable-element:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable {
  box-sizing: border-box;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
