<div class="table">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    @if (title) {
      <h3>{{ title }}</h3>
    }
    <div fxFlex></div>
    @if (dragNDrop && dragNDropChanged) {
      <button mat-raised-button color="primary" (click)="saveDragNDrop()" class="mt-6">
        Reihenfolge speichern
      </button>
    }
    @if (headerButtons) {
      @for (button of headerButtons; track button) {
        @if (typeof button.name(true) === "string") {
          <button
            (click)="button.navigate($event, -1)"
            [color]="button.color(true)"
            [class]="button.class(true)"
            class="mt-6"
            mat-raised-button>{{ button.name(true) }}
          </button>
        } @else {
          <button
            (click)="button.navigate($event, -1)"
            [color]="button.color(true)"
            [class]="button.class(true)"
            class="mt-6"
            mat-icon-button>
            <mat-icon>{{ $any(button.name(true)).icon }}</mat-icon>
          </button>
        }
      }
    }
    @if (!noSearch) {
      <mat-form-field appearance="outline" class="new-form-element">
        <mat-label>Suchen</mat-label>
        <input matInput #input>
      </mat-form-field>
    }
  </div>

  @if (dataSource.loading$ | async) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }
  <mat-table
    [dataSource]="dataSource"
    [class]="`mat-elevation-z8 ${dragNDrop ? 'draggable-list' : ''}`"
    matSort
    [matSortDisabled]="dragNDrop"
    cdkDropList
    [cdkDropListDisabled]="!dragNDrop"
    (cdkDropListDropped)="drop($event)"

  >
    @for (column of dataSource.columns; track column) {
      <ng-container [matColumnDef]="column.name">
        @if (column.sortable && !dragNDrop) {
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.headerName }}
          </mat-header-cell>
        } @else {
          <mat-header-cell *matHeaderCellDef>
            {{ column.headerName }}
          </mat-header-cell>
        }
        <mat-cell *matCellDef="let element">
          {{ element.values[column.name] }}
        </mat-cell>
      </ng-container>
    }
    @if (buttons.length > 0) {
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="actions">Aktionen</mat-header-cell>
        <mat-cell *matCellDef="let element" class="actions">
          @for (button of buttons; track button; ) {
            @if (typeof button.name(element.values['condition']) === "string") {
              <button [color]="button.color(element.values['condition'])"
                      [class]="button.class(element.values['condition'])"
                      (click)="button.navigate($event, element.values['id'])"
                      mat-raised-button>
                {{ button.name(element.values['condition']) }}
              </button>
            } @else {
              <button [color]="button.color(element.values['condition'])"
                      [class]="button.class(element.values['condition'])"
                      (click)="button.navigate($event, element.values['id'])"
                      matIconButton>
                <mat-icon>{{ $any(button.name(element.values['condition'])).icon }}</mat-icon>
              </button>
            }
          }
        </mat-cell>
      </ng-container>
    }
    @if (dragNDrop) {
      <ng-container matColumnDef="drag_handler">
        <mat-header-cell *matHeaderCellDef class="drag-handler"></mat-header-cell>
        <mat-cell cdkDragHandle *matCellDef class="drag-handler">
          <mat-icon>drag_handle</mat-icon>
        </mat-cell>
      </ng-container>
    }
    <mat-header-row *matHeaderRowDef="dataSource.columnIdentifiers; sticky: true"></mat-header-row>
    <mat-row
      cdkDrag
      cdkDragBoundary=".draggable-list"
      *matRowDef="let row; columns: dataSource.columnIdentifiers"
      (click)="rowClicked(row.route)"
      matTooltip="{{row.toolTip}}"
      [class]="`table-row ${row.rowClass} ${dragNDrop ? 'draggable-element' : ''}`">
    </mat-row>
  </mat-table>
  @if (!noPagination) {
    <mat-paginator [length]="(dataSource.amount$ | async)" [pageSize]="dataSource.pageSize"
                   [pageSizeOptions]="dataSource.pageSizeOptions" [pageIndex]="dataSource.pageIndex"></mat-paginator>
  }
  @if (noInspectUnusedImports) {
    <ng-container matCellDef matHeaderCellDef matHeaderRowDef="{{ dataSource.columnIdentifiers }}" matRowDef />
  }
</div>
