<div class="table">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    @if (title) {
      <h3>{{title}}</h3>
    }
    <div class="search-input-wrapper">
      <mat-form-field>
        <input matInput placeholder="Suchen" #input>
      </mat-form-field>
    </div>

  </div>

  @if (dataSource.loading$ | async) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    @for (column of dataSource.columns; track column) {
      <ng-container [matColumnDef]="column.name">
        <mat-header-cell *matHeaderCellDef>
          {{ column.headerName }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.values[column.name] }}
        </mat-cell>
      </ng-container>
    }
    @if (buttons.length > 0) {
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Aktionen</mat-header-cell>
        <mat-cell *matCellDef="let element">
          @for (button of buttons; track button) {
            <button [color]="button.color(element.values['condition'])" [class]="button.class(element.values['condition'])"
              (click)="button.navigate($event, element.values['id'])"
            mat-raised-button>{{button.name(element.values['condition'])}}</button>
          }
        </mat-cell>
      </ng-container>
    }
    <mat-header-row *matHeaderRowDef="dataSource.columnIdentifiers; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataSource.columnIdentifiers" (click)="rowClicked(row.route)"
      matTooltip="{{row.toolTip}}"
    class="table-row"></mat-row>
  </mat-table>
  <mat-paginator [length]="(dataSource.amount$ | async)" [pageSize]="dataSource.pageSize"
  [pageSizeOptions]="dataSource.pageSizeOptions" [pageIndex]="dataSource.pageIndex"></mat-paginator>
</div>
