<app-toolbar [title]="title" [buttonList]="buttons"></app-toolbar>
<div class="window-container">
  <mat-tab-group dynamicHeight>
    <mat-tab label="{{ firstTabLabel }}">
      <form (ngSubmit)="onSubmitGeneral()" [formGroup]="userGroup">
        <div fxLayout="column" fxLayoutAlign="stretch" class="padding-top">
          <h3>Persönliche Daten</h3>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
            <mat-form-field appearance="fill">
              <mat-label>Vorname</mat-label>
              <input class="form-control" formControlName="firstname" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Nachname</mat-label>
              <input class="form-control" formControlName="secondname" matInput>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
            <mat-form-field appearance="fill">
              <mat-label>Geschlecht</mat-label>
              <mat-select class="form-control" formControlName="gender">
                <mat-option value="male">Männlich</mat-option>
                <mat-option value="female">Weiblich</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Geburtsdatum</mat-label>
              <input class="form-control" matInput formControlName="birthdate"
                     [matDatepicker]="birthdate_picker">
              <mat-datepicker-toggle matSuffix [for]="birthdate_picker"></mat-datepicker-toggle>
              <mat-datepicker #birthdate_picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">

            <mat-form-field appearance="fill">
              <mat-label>Geburtsort</mat-label>
              <input class="form-control" matInput formControlName="birth_city">
            </mat-form-field>
            <div class="spacer"></div>
          </div>
          <h3>Kontakt</h3>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
            <mat-form-field appearance="fill">
              <mat-label>Mail (geschäftlich)</mat-label>
              <input class="form-control" formControlName="email" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>E-Mail (privat)</mat-label>
              <input class="form-control" matInput formControlName="email2">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
            <mat-form-field appearance="fill">
              <mat-label>Telefon</mat-label>
              <input class="form-control" formControlName="tel" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Handy</mat-label>
              <input class="form-control" formControlName="handy" matInput>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
            <mat-form-field appearance="fill">
              <mat-label>Kurzwahl</mat-label>
              <input class="form-control" formControlName="dial" matInput>
            </mat-form-field>
            <div class="spacer"></div>
          </div>
          <h3>Administrative Daten</h3>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
            <mat-form-field appearance="fill">
              <mat-label>Position</mat-label>
              <input class="form-control" formControlName="position" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Steuernummer</mat-label>
              <input class="form-control" formControlName="vat_number" matInput>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
            <mat-form-field appearance="fill">
              <mat-label>Adresse</mat-label>
              <input class="form-control" formControlName="address" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Gemeinde</mat-label>
              <input class="form-control" formControlName="city" matInput>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
            <mat-form-field appearance="fill">
              <mat-label>PLZ</mat-label>
              <input class="form-control" formControlName="plz" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Land</mat-label>
              <input class="form-control" formControlName="country" matInput>
            </mat-form-field>
          </div>
          @if (createMode) {
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Innovaphone Benutzer</mat-label>
                <input class="form-control" formControlName="innovaphone_user" matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Innovaphone Password</mat-label>
                <input class="form-control" formControlName="innovaphone_pass" matInput>
              </mat-form-field>
            </div>
            <h3>Password</h3>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input class="form-control" formControlName="password" matInput>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password Wiederholen</mat-label>
                <input class="form-control" matInput>
              </mat-form-field>
            </div>
          }
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="center">
            <button [disabled]="submitted" mat-raised-button type="submit" class="save-btn">Speichern</button>
          </div>
        </div>
      </form>
    </mat-tab>
    @if (!createMode) {
      <mat-tab label="Arbeisverhältnis">
        <div fxLayout="column" fxLayoutAlign="stretch" class="padding-top">
          <form (ngSubmit)="onSubmitEmployment()" [formGroup]="employmentGroup">
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field>
                <mat-label>Interne Kosten</mat-label>
                <input class="form-control" formControlName="cost" matInput>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Arbeitsmodell (M-D-M-D-F-S)</mat-label>
                <input class="form-control" formControlName="workmodel" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field>
                <mat-label>Tag UID</mat-label>
                <input class="form-control" formControlName="taguid" matInput>
              </mat-form-field>
              <div class="spacer"></div>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-checkbox formControlName="export" class="form-control">Mitarbeiter nach TikTak exportieren
              </mat-checkbox>
            </div>
            <div class="v-line"></div>
            <h3>Stundensätze</h3>
            <ng-container formArrayName="employmentCosts">
              @for (control of employmentGroup.controls.employmentCosts.controls; track control.controls.id; let idx = $index) {
                <ng-container [formGroupName]="idx">
                  <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
                    <mat-form-field>
                      <mat-label>Stundensatz</mat-label>
                      <input class="form-control" matInput formControlName="cost">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Startdatum</mat-label>
                      <input class="form-control" matInput formControlName="start_date"
                             [matDatepicker]="start_date_picker">
                      <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
                      <mat-datepicker #start_date_picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Enddatum</mat-label>
                      <input class="form-control" matInput formControlName="end_date"
                             [matDatepicker]="end_date_picker">
                      <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
                      <mat-datepicker #end_date_picker></mat-datepicker>
                    </mat-form-field>
                    <app-circle-icon-button class="del-button" icon="delete" (click)="onRemoveEmploymentCost(idx)" />
                  </div>
                </ng-container>
              }
            </ng-container>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="center" class="padding-top">
              <button [disabled]="submitted" mat-raised-button type="button" (click)="onAddEmploymentCost()"
                      class="save-btn">
                Neuer Stundensatz
              </button>
            </div>
            <div class="v-line"></div>
            <h3>Arbeitsverhältnis</h3>
            <span>Gesamte Arbeitszeit bisher: {{ sumYears }} Jahre</span>
            <ng-container formArrayName="employmentRelationships">
              @for (control of employmentGroup.controls.employmentRelationships.controls; track control.controls.id; let index = $index) {
                <ng-container [formGroupName]="index">
                  <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
                    <mat-form-field>
                      <mat-label>Start Arbeitsverhältnis</mat-label>
                      <input class="form-control" matInput formControlName="start_date"
                             [matDatepicker]="start_date_picker">
                      <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
                      <mat-datepicker #start_date_picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Ende Arbeitsverhältnis</mat-label>
                      <input class="form-control" matInput formControlName="end_date"
                             [matDatepicker]="end_date_picker">
                      <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
                      <mat-datepicker #end_date_picker></mat-datepicker>
                    </mat-form-field>
                    <app-circle-icon-button class="del-button" icon="delete" (click)="onRemoveRelationship(index)" />
                  </div>
                </ng-container>
              }
            </ng-container>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="center" class="padding-top">
              <button [disabled]="submitted" mat-raised-button type="button" (click)="onAddRelationship()"
                      class="save-btn">
                Neues Arbeitsverhältnis
              </button>
            </div>
            <div class="v-line"></div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="center" class="padding-top">
              <button [disabled]="submitted" mat-raised-button type="button" (click)="onSubmitEmployment()"
                      class="save-btn">
                Speichern
              </button>
            </div>
          </form>
        </div>
      </mat-tab>
    }
    @if (!createMode && grantRightsAvailable) {
      <mat-tab label="Zugänge und Rechte">
        <form (ngSubmit)="onSubmitRights()" [formGroup]="rightsGroup">
          <div fxLayout="column" fxLayoutAlign="stretch" class="padding-top">
            <h3>Systemzugänge</h3>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">

              <mat-form-field appearance="fill">
                <mat-label>Rechte</mat-label>
                <mat-select class="form-control" formControlName="right">
                  <mat-option value="admin">Admin</mat-option>
                  <mat-option value="office">Büro</mat-option>
                  <mat-option value="workshop">Werkstatt</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Innovaphone Benutzer</mat-label>
                <input class="form-control" matInput formControlName="innovaphone_user">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Innovaphone Password</mat-label>
                <input class="form-control" matInput formControlName="innovaphone_pass">
              </mat-form-field>
            </div>
            <h2>Schlüssel</h2>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Firmenschlüssel Nummer</mat-label>
                <input class="form-control" matInput formControlName="keynumber">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Kaffeeschlüssel</mat-label>
                <mat-select class="form-control" formControlName="coffee">
                  <mat-option value="true">Ja</mat-option>
                  <mat-option value="false">Nein</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Alarmschlüssel</mat-label>
                <input class="form-control" matInput formControlName="alarm">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="center" class="padding-top">
            <button [disabled]="submitted" mat-raised-button type="button" (click)="onSubmitRights()"
                    class="save-btn">
              Speichern
            </button>
          </div>
        </form>
        <form (ngSubmit)="onSubmitPassword()" [formGroup]="passwordGroup">

          <div fxLayout="column" fxLayoutAlign="stretch" class="padding-top">
            <h3>Neues Passwort festlegen</h3>

            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input class="form-control" formControlName="password" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="center" class="padding-top">
              <button [disabled]="submitted" mat-raised-button type="button" (click)="onSubmitPassword()"
                      class="save-btn">
                Speichern
              </button>
            </div>
          </div>
        </form>
      </mat-tab>
    }
    @if (!createMode) {
      <mat-tab label="Arbeitsbekleidung">
        <form (ngSubmit)="onSubmitDress()" [formGroup]="dressGroup">
          <div fxLayout="column" fxLayoutAlign="stretch" class="padding-top">
            <h3>Arbeitsbekleidung</h3>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Größe Pullower</mat-label>
                <input class="form-control" formControlName="chestplate" matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Größe T-Shirt</mat-label>
                <input class="form-control" formControlName="tshirt" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Größe Hose</mat-label>
                <input class="form-control" formControlName="leggins" matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Größe Schuhe</mat-label>
                <input class="form-control" formControlName="shoes" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Modell Schuhe</mat-label>
                <input class="form-control" formControlName="shoesmodel" matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Sohle</mat-label>
                <input class="form-control" formControlName="sohle" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-form-field appearance="fill">
                <mat-label>Werkzeuggurt</mat-label>
                <mat-select class="form-control" formControlName="shield">
                  <mat-option value="true">Ja</mat-option>
                  <mat-option value="false">Nein</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Gehörschutz</mat-label>
                <input class="form-control" formControlName="helmet" matInput>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16" fxLayoutAlign="start">
              <mat-checkbox formControlName="export" class="form-control">Nutzer beim Bekleidungsexport berücksichtigen
              </mat-checkbox>
            </div>
          </div>
        </form>
      </mat-tab>
    }
  </mat-tab-group>
</div>
