<app-toolbar [title]="title" [buttonList]="buttons"></app-toolbar>
<div class="window-container">
  <mat-tab-group>
    <mat-tab label="Allgemein">
      <form (ngSubmit)="onSubmitGeneral()" [formGroup]="userGroup">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-form-field appearance="fill">
            <mat-label>Vorname</mat-label>
            <input class="form-control" formControlName="firstname" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nachname</mat-label>
            <input class="form-control" formControlName="secondname" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mail</mat-label>
            <input class="form-control" formControlName="email" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Telefon</mat-label>
            <input class="form-control" formControlName="tel" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Handy</mat-label>
            <input class="form-control" formControlName="handy" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Kurzwahl</mat-label>
            <input class="form-control" formControlName="dial" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Position</mat-label>
            <input class="form-control" formControlName="position" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Stundensatz</mat-label>
            <input class="form-control" formControlName="cost" matInput>
          </mat-form-field>
          <mat-checkbox formControlName="employee"
                        title="Ist dieser Account auch ein Angestellter?">Angestellter
          </mat-checkbox>
          <mat-checkbox formControlName="notification"
                        title="Email Benachrichtigungen aktivieren?">Benachrichtigung
          </mat-checkbox>
          <mat-checkbox formControlName="office"
                        title="Arbeitet der Angestellte im Büro?">Büro
          </mat-checkbox>
          <mat-checkbox formControlName="chat"
                        title="Mitarbeiter über Chat erreichbar?">Chat empfangen
          </mat-checkbox>
          <mat-checkbox formControlName="hours"
                        title="Mitarbeiter Stunden aufschreiben?">Stunden aufschreiben
          </mat-checkbox>
          @if (createMode) {
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input class="form-control" formControlName="password" matInput>
            </mat-form-field>
          }
          <mat-form-field appearance="fill">
            <mat-label>Innovaphone Benutzer</mat-label>
            <input class="form-control" formControlName="innovaphone_user" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Innovaphone Password</mat-label>
            <input class="form-control" formControlName="innovaphone_pass" matInput>
          </mat-form-field>
          <button [disabled]="submitted" mat-raised-button type="submit" class="save-btn">Speichern</button>
        </div>
      </form>
    </mat-tab>
    @if (!createMode && grantRightsAvailable) {
      <mat-tab label="Rechte">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          @if (!rightsLoaded) {
            <div>
              <mat-spinner></mat-spinner>
            </div>
          }
          @if (rightsLoaded) {
            <mat-selection-list #rights class="right-selection">
              @for (cat of availableRightCats; track cat) {
                <div class="category {{cat.open ? 'open' : ''}}">
                  <div class="category-option">
                    <div class="clickable" (click)="onCategoryClick(cat.key)"></div>
                    <mat-checkbox
                      class="category-checkbox"
                      [checked]="userHasRightCategory(cat.key) === 'checked'"
                      [indeterminate]="userHasRightCategory(cat.key) === 'indeterminate'"
                      (change)="onCategoryCheck(cat.key, userHasRightCategory(cat.key))">
                    </mat-checkbox>
                    <div class="category-title">{{ cat.title }}</div>
                  </div>
                  @for (right of availableRights | RightFilter: cat.key; track right) {
                    <mat-list-option
                      [selected]="userHasRight(right.key)"
                      value="{{right.key}}" (click)="onRightCheck(right)">
                      {{ right.key }} : {{ right.description }}
                    </mat-list-option>
                  }
                </div>
              }
            </mat-selection-list>
          }
          <button [disabled]="submitted" mat-raised-button type="button" (click)="onSubmitRights()"
                  class="save-btn">
            Speichern
          </button>
        </div>
      </mat-tab>
    }
    @if (!createMode) {
      <mat-tab label="Password">
        <form (ngSubmit)="onSubmitPassword()" [formGroup]="passwordGroup">
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="fill">
              <mat-label>Neues Password</mat-label>
              <input class="form-control" formControlName="password" matInput>
            </mat-form-field>
            <button [disabled]="submitted" mat-raised-button type="submit" class="save-btn">Speichern</button>
          </div>
        </form>
      </mat-tab>
    }
  </mat-tab-group>
</div>
