.heading {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.mat-list-option,
.mat-nav-list .mat-mdc-list-item,
.mat-action-list .mat-list-item {
  &:hover, &:focus {
    background: rgba(#fdc400, 0.2);
  }
  animation: height ease-in-out 0.5s;
  &.collapsed {
    height: 0 !important;
    visibility: hidden;
    display: none;
  }
  &.uncollapsed {
    padding-left: 2em;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-single-selected-option {
  &, &:hover, &:focus {
    background: rgba(#fdc400, 0.6);
  }
}
