@if (create) {
  <h1 mat-dialog-title>Arbeitsstunden hinzufügen</h1>
}
@if (!create) {
  <h1 mat-dialog-title>Arbeitsstunden bearbeiten</h1>
}
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    @if (create) {
      <mat-form-field appearance="fill">
        <mat-label>Benutzer</mat-label>
        <mat-select [formControl]="getSelectedUserControl()" required>
          @for (user of users$ | async; track user) {
            <mat-option [value]="user.id">
              {{user.fullname}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (!create) {
      <div>
        <p>Beschäftigter: {{selectedUserName$ | async}}</p>
      </div>
    }
    <p>Arbeitszeit ändern</p>
    @if (!loading) {
      <div fxLayout="column" fxLayoutAlign="center center">
        <app-minute-hour [minuteControl]="getMinuteControl()" title="Normal: "></app-minute-hour>
        <app-minute-hour [minuteControl]="getMinuteDirectionControl()" title="Regie: "></app-minute-hour>
      </div>
    }
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-button (click)="onNoClick()">Abbrechen</button>
      <button mat-button (click)="onSubmitClick()">Speichern</button>
    </div>
  </div>
</div>
