/*

mat-stepper {
  max-width: 100%;
}

mat-step-header {
  padding: 12px 12px;
}

.mat-vertical-content-container {
  margin-left: 18px;
}

.mat-vertical-content {
  padding: 0 12px 12px 12px;
}
*/

.jobs-list {
  overflow-y: scroll;

  > div:nth-child(2n) {
    background: rgba(254, 237, 179, 0.4);
  }
}

.list {
  overflow: hidden;
  min-width: 30vw;
  max-height: 50vh;
}

.additional-hours {
  margin-top: 10px;
}

.blue {
  color: cornflowerblue;
}

.mat-list-option,
.mat-nav-list .mat-mdc-list-item,
.mat-action-list .mat-list-item {
  &:hover, &:focus {
    background: rgba(#fdc400, 0.2);
  }
}

/*

TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.
*/
.mat-list-single-selected-option {
  &, &:hover, &:focus {
    background: rgba(#fdc400, 0.6);
  }
}


.desktop-min-width {
  min-width: 30vw;
}

.high-button {
  height:59px !important;
  width:59px !important;
  margin-bottom: 22px;
  //font-size:22px !important;
}

.mat-action-list {
  margin-bottom: 7px;
}
