<div *ngIf="!showOnlySummary" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-stepper linear="true" #stepper [orientation]="stepperOrientation">
        <mat-step [stepControl]="hourFormGroup">
            <ng-template matStepLabel>Stunden eintragen</ng-template>
            <form [formGroup]="hourFormGroup">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <p>Wie lange hast du heute gearbeitet? (ohne Mittagspause)</p>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                        <button mat-raised-button aria-label="Stunde abziehen" (click)="addTotalMinutes(-60)">
                            -1
                        </button>
                        <mat-form-field appearance="fill">
                            <mat-label>Stunden</mat-label>
                            <input readonly matInput type="number" formControlName="showingHours">
                        </mat-form-field>
                        <button mat-raised-button aria-label="Stunde hinzufügen" (click)="addTotalMinutes(60)">
                            +1
                        </button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                        <button mat-raised-button aria-label="15 Minuten abziehen" (click)="addTotalMinutes(-15)">
                            -15
                        </button>
                        <mat-form-field appearance="fill">
                            <mat-label>Minuten</mat-label>
                            <input readonly matInput type=number formControlName="showingMinutes">
                        </mat-form-field>
                        <button mat-raised-button aria-label="15 Minuten " (click)="addTotalMinutes(15)">
                            +15
                        </button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
                        <button mat-raised-button matStepperNext>Weiter</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="jobFormGroup">
            <ng-template matStepLabel class="step-header">Stunden zuteilen</ng-template>
            <form *ngIf="jobsLoaded" [formGroup]="jobFormGroup">
                <div fxLayout="column" fxLayoutAlign="space-between start">
                    <p>Bitte die ganze Arbeitszeit auf Projekte oder Instandhaltung aufteilen.</p>
                    <div fxFlexAlign="center">
                        <p>Arbeitszeit: {{getWorkedHoursString()}}</p>
                    </div>
                    <div fxFlexAlign="center">
                        <p><strong>Aufzuteilen: {{availableHoursString}}</strong></p>
                    </div>
                    <mat-action-list fxFlexAlign="center">
                        <button mat-raised-button (click)="openDialogClicked(0)">Kunde</button>
                        <button mat-raised-button (click)="openDialogClicked(1)">Instandhaltung</button>
                        <button mat-raised-button (click)="openDialogClicked(2)">Frei eintragen</button>
                    </mat-action-list>
                    <div *ngFor="let jobList of getAllJobs(); let j = index" class="desktop-min-width">
                        <div fxLayout="column" fxLayoutAlign="space-between start" fxFlexFill>
                            <div *ngFor="let job of jobList.controls; let i = index">
                                <div *ngIf="showJob(i, j)" fxLayout="column" fxLayoutAlign="space-around start">
                                    <div (click)="openDialogClicked(0, i, j)">
                                        <p><strong>{{getNameFromJob(i, j)}}</strong></p>
                                        <p>{{getMinutesStringFromJob(i, false, j)}}</p>
                                        <p class="blue">{{getMinutesStringFromJob(i, true, j)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showMaintenance()" (click)="openDialogClicked(1)">
                        <p><strong>Instandhaltung</strong></p>
                        <p>{{getMinutesFromMaintenance()}}</p>
                    </div>
                    <div *ngIf="showAdditionalMinutes()" (click)="openDialogClicked(2)">
                        <p><strong>{{getNameFromAdditionalJob()}}</strong></p>
                        <p>{{getMinutesFromAdditionalJob()}}</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                        <button mat-raised-button matStepperPrevious>Zurück</button>
                        <button mat-raised-button (click)="jobsNextClicked();">Weiter</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="mealFormGroup">
            <ng-template matStepLabel>Essen</ng-template>
            <p>Genau eine Wahl treffen</p>
            <form [formGroup]="mealFormGroup">
                <mat-selection-list formControlName="eatingPlaceId" [multiple]="false">
                    <mat-list-option *ngFor="let eatingPlace of eatingPlaces$ | async" [value]="eatingPlace.id">
                        {{eatingPlace.name}}
                    </mat-list-option>
                </mat-selection-list>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                    <button mat-raised-button matStepperPrevious>Zurück</button>
                    <button mat-raised-button (click)="mealNextClicked();">Weiter</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Fahrten & Spesen</ng-template>
            <form [formGroup]="expensesJourneyGroup">
                <div fxLayout="column" fxLayoutAlign="space-around center" formArrayName="expenses" fxFlexFill>
                    <h4>Ausgaben eintragen</h4>
                    <div *ngFor="let expense of getExpenses().controls; let i = index">
                        <div fxLayout="row" fxLayoutAlign="space-around center" [formGroupName]="i"
                             fxLayout.lt-sm="column">
                            <mat-form-field appearance="fill">
                                <mat-label>Beschreibung</mat-label>
                                <input class="form-control" formControlName="name" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Euro</mat-label>
                                <input class="form-control" formControlName="amount" type="number" matInput>
                                <!--<span matSuffix>€</span> -->
                            </mat-form-field>
                            <button type="button" mat-button (click)="onRemoveExpenseClick(i)"
                                    title="Ausgabe entfernen">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <button mat-button type="button" (click)="onAddExpenseClick()"
                            title="Weitere Ausgabe hinzufügen">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-around center" formArrayName="drives" fxFlexFill>
                    <h4>Fahrten eintragen</h4>
                    <div *ngFor="let drive of getDrives().controls; let i = index">
                        <div fxLayout="row" fxLayoutAlign="space-around center" [formGroupName]="i"
                             fxLayout.lt-sm="column">
                            <mat-form-field appearance="fill">
                                <mat-label>Distanz [km]</mat-label>
                                <input class="form-control" formControlName="km" matInput type="number" value="">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Auto</mat-label>
                                <mat-select formControlName="car_id">
                                    <mat-option *ngFor="let car of cars$ |  async" [value]="car.id">
                                        {{car.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button type="button" mat-button (click)="onRemoveDriveClick(i)"
                                    title="Fahrt entfernen">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <button mat-button type="button" (click)="onAddCarClick()"
                            title="Weitere Fahrt hinzufügen">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                    <button mat-raised-button matStepperPrevious>Zurück</button>
                    <button mat-raised-button matStepperNext>Weiter</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Zusammenfassung</ng-template>
            <app-hours-summary
                    [hourFormGroup]="hourFormGroup"
                    [jobFormGroup]="jobFormGroup"
                    [mealFormGroup]="mealFormGroup"
                    [expensesJourneyGroup]="expensesJourneyGroup"
                    [jobsReady$]="jobsReady$"
            >
            </app-hours-summary>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                <button mat-raised-button matStepperPrevious>Zurück</button>
                <button mat-raised-button (click)="submitClicked()">Abschließen</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>
<app-hours-summary
        *ngIf="showOnlySummary"
        [hourFormGroup]="hourFormGroup"
        [jobFormGroup]="jobFormGroup"
        [mealFormGroup]="mealFormGroup"
        [expensesJourneyGroup]="expensesJourneyGroup"
        [jobsReady$]="jobsReady$"
>
</app-hours-summary>

