<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="companyEventFormGroup">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field>
                <mat-label>Beschreibung</mat-label>
                <input class="form-control" type="text" formControlName="title" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Start Zeitpunkt</mat-label>
                <input matInput [ngxMatDatetimePicker]="startPicker" placeholder="Start" formControlName="startTime">
                <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startPicker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                         [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                         [touchUi]="touchUi" [enableMeridian]="enableMeridian"
                                         [disableMinute]="disableMinute" [hideTime]="hideTime">
                </ngx-mat-datetime-picker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>End Zeitpunkt</mat-label>
                <input matInput [ngxMatDatetimePicker]="endPicker" placeholder="Ende" formControlName="endTime">
                <mat-datepicker-toggle matSuffix [for]="$any(endPicker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endPicker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                         [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                         [touchUi]="touchUi" [enableMeridian]="enableMeridian"
                                         [disableMinute]="disableMinute" [hideTime]="hideTime">
                </ngx-mat-datetime-picker>
            </mat-form-field>
            <mat-slide-toggle color="primary" formControlName="allDay" (change)="allDayChanged()">Ganztags</mat-slide-toggle>
            <mat-form-field>
                <mat-label>Farbe</mat-label>
                <mat-select formControlName="color">
                    <mat-option *ngFor="let color of colors | keyvalue" [value]="color.key">
                        {{color.value["name"]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

</div>
<div mat-dialog-actions>
    <button *ngIf="!create" mat-button (click)="onDeleteClick()">Löschen</button>
    <span class="spacer"></span>
    <button mat-button (click)="onCancelClick()">Abbrechen</button>
    <button mat-button (click)="onSubmitClick()">Speichern</button>
</div>
