<div fxShow="true" fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>

    <button mat-icon-button mwlCalendarToday
            [(viewDate)]="viewDate" title="Heute">
        <mat-icon>today</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
        <button mat-icon-button mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()" title="Zurück">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'de' }}</h3>
        <button mat-icon-button mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()" title="Weiter">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
    <mat-button-toggle-group name="changeView" aria-label="Ansicht ändern">
        <mat-button-toggle (click)="setView(calendarView.Month)" value="month">Monat</mat-button-toggle>
        <mat-button-toggle (click)="setView(calendarView.Week)" value="week">Woche</mat-button-toggle>
        <mat-button-toggle (click)="setView(calendarView.Day)" value="day">Tag</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-icon-button (click)="handleEvent('Create', undefined)" class="add-button" title="Neuer Termin">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div [ngSwitch]="view">
    <mwl-calendar-month-view
            *ngSwitchCase="calendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Edit', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            *ngSwitchCase="calendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Edit', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="calendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
</div>
