<div fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <mat-toolbar color="accent" fxFlex="10">
      <span class="spacer"></span>
      <div fxShow="true" fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button (click)="changeWeek(-amountWeeks)" title="zurück">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-icon-button (click)="ngOnInit()" title="zurück">
          <mat-icon>today</mat-icon>
        </button>
        <button mat-icon-button (click)="changeWeek(+amountWeeks)" title="weiter">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-table [dataSource]="dataSource" fxFlexFill class="week-calendar mat-elevation-z2">
      @for (column of displayedColumns; track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef class="header-week">{{weekTitle(column)}}</th>
          <td mat-cell *matCellDef="let day">
            @if (column !== 'week-1') {
              <app-event-calendar-day [week]="day[column].week" [updateSubject]="updateSubject"
                [year]="selectedYear"
              [day]="day[column].day"></app-event-calendar-day>
            }
            @if (column === 'week-1') {
              <div fxLayout="column" fxLayoutAlign="space-around start">
                <span class="header-day">{{day[column]}}</span>
              </div>
            }
          </td>
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </mat-table>
  </div>
</div>
