<div fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <mat-toolbar color="primary" fxFlex="10">
      <div fxShow="true" fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button (click)="changeWeek(-amountWeeks)" title="zurück">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-icon-button (click)="ngOnInit()" title="zurück">
          <mat-icon>today</mat-icon>
        </button>
        <button mat-icon-button (click)="changeWeek(+amountWeeks)" title="weiter">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="90" fxFlexFill>
      <mat-table>
        <mat-header-row>
          <mat-header-cell></mat-header-cell>
          <mat-header-cell *ngFor="let i of weeks">
            {{weekTitle(selectedCalendarWeek + i,selectedYear)}}
          </mat-header-cell>
        </mat-header-row>
        <mat-row *ngFor="let i of days">
          <mat-header-cell>
            {{dayTitle(i)}}
          </mat-header-cell>
          <mat-cell *ngFor="let j of weeks">
            <app-event-calendar-day [week]="j" [day]="i" [year]="selectedYear" />
          </mat-cell>
        </mat-row>
      </mat-table>
    </div>
  </div>
</div>
