.toolbar-spacer {
  flex: 1 1 auto;
}

.logo-button {
  padding: 10px;
  max-width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 -3px 5px #3e3d3d;
    transform: scale(1.03);
  }
}

.logo {
  padding: 10px;
  width: 70%;
  height: auto;


}

.title {
  margin-left: 1em;
  font-weight: 500;
  letter-spacing: .1ch;

}

.toolbar {
  overflow: hidden;
}
