<mat-toolbar color="accent" class="toolbar">
  <button class="logo-button" type="button" (click)="homeClicked()">
    <img class="logo" src="assets/logos/ESS-Logo-RGB-Neg-Small.png" alt="Eisenstecken-logo">
  </button>

  <span class="title">{{title}}</span>
  <span class="toolbar-spacer"></span>
  <div class="buttons-container">
    @for (button of buttonList; track button) {
      <a (click)="buttonClicked(button)" mat-button>{{button.name}}</a>
    }
    @if (showBackButton) {
      <app-circle-icon-button (click)="backButtonClicked()" icon="arrow_back" backgroundColor="transparent" />
    }
    @if (showLogoutButton) {
      <app-circle-icon-button (click)="logoutClicked()" icon="logout" backgroundColor="transparent" />
    }
  </div>
</mat-toolbar>
