.toolbar-spacer {
  flex: 1 1 auto;
}

.logo-button {
  padding: 10px;
  max-width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 -3px 5px #3e3d3d;
    transform: scale(1.03);
  }
}

.logo {
  padding: 10px;
  width: 70%;
  height: auto;
}

.back-button {
  border-radius: 99999px;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.title {
  margin-left: 1em;
  font-weight: 500;
  letter-spacing: .1ch;
}

.toolbar {
  overflow: hidden;
}
