<div fxLayout="column" fxLayoutAlign="space-between stretch" class="chat" fxFlexFill>
  <div fxFlex class="chat-message-box" #chatMsgBox>
    @for (message of messages; track message; let last = $last) {
      <app-chat-message [message]="message">
        {{ last ? scrollToBottom() : '' }}
      </app-chat-message>
    }
  </div>
  <div class="input-box">
    @if (recipients$ | async; as recipients) {
      <form [formGroup]="chatGroup" (ngSubmit)="send()" fxLayout="column"
            fxLayoutAlign="flex-start stretch">
        <mat-form-field>
          <mat-label>Nachricht</mat-label>
          <textarea id="message-input" rows=3 class="form-control" formControlName="messageInput" matInput></textarea>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-evenly flex-start">
          <mat-form-field fxFlex>
            <mat-label>Empfänger</mat-label>
            <mat-select formControlName="recipientSelect">
              @for (recipient of recipients; track recipient) {
                <mat-option [value]="recipient.id">
                  {{ recipient.firstname }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button [disabled]="buttonLocked" type="submit" mat-raised-button>Senden</button>
        </div>
      </form>
    }
  </div>
</div>

