@use "../../../styles.scss" as styles;


.chat {
  overflow: hidden;
  isolation: isolate;
  height: 100%;
  background: red;

  .chat-message-box {
    overflow-y: scroll;
    background: white;
    z-index: 1;
    border-bottom: solid thin #eee;
    padding-bottom: 8px;
    position: relative;
    min-height: 250px;
  }

  .input-box {
    z-index: 2;
    background: white;
  }
}

textarea {
  resize: none !important;
}

.chat-message-box {
  height: 300px;
  background-color: red;
}
