@use "../../../styles.scss" as styles;


.chat {
  overflow: hidden;
  isolation: isolate;

  .chat-message-box {
    overflow-y: scroll;
    background: #fff;
    z-index: 1;
    border-bottom: solid thin #eee;
    padding-bottom: 8px;

    &.ivan {
      background-color: #eee;
    }

    &:before {
      content: "";
      position: absolute;
      inset: 0 8px 0 0;
      opacity: 0.06;
      background-repeat: repeat;
    }

    &.ivan:before {
      background-image: url("/assets/images/chat-bg.png");
    }
  }

  .input-box {
    z-index: 2;
    background: white;
  }
}

textarea {
  resize: none !important;
}
