@use "../../../styles.scss" as styles;


.chat {
  overflow: hidden;
  isolation: isolate;
  height: 100%;

  .chat-message-box {
    overflow-y: scroll;
    background: #fff;
    z-index: 1;
    border-bottom: solid thin #eee;
    padding-bottom: 8px;
    position: relative;
    min-height: 100px;
  }

  .input-box {
    z-index: 2;
    background: white;
  }
}

textarea {
  resize: none !important;
}
