<app-toolbar [title]="title"></app-toolbar>
<div class="window-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="stockGroup">
        <div class="flex flex-col justify-around items-center flex-row">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input class="form-control" formControlName="name" matInput="">
            </input></mat-form-field>
            <button [disabled]="submitted" mat-raised-button="" type="submit">Speichern</button>
        </div>
    </form>
</div>
