<div fxLayout="column" fxLayoutAlign="space-around center">
    <p>Arbeitszeit: {{getWorkedHoursString()}}</p>
    <div *ngIf="showJobs">
        <div *ngFor="let job of getJobs().controls">
            <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="showJob(job)">
                <h4><strong>{{job.get('name').value}}</strong></h4>
                <p>Normal: {{getMinutesStringByJob(job, false)}}</p>
                <p>Regie: {{getMinutesStringByJob(job, true)}}</p>
            </div>
        </div>
    </div>
    <p>Essen: {{eatingPlaceName}}</p>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <p>Ausgaben:</p>
        <p *ngFor="let expense of getExpenses().controls">
            {{expense.get('name').value}}: {{expense.get('amount').value}} €
        </p>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <p>Fahrten:</p>
        <p *ngFor="let driveString of driveStrings">{{driveString}}</p>
    </div>
</div>
