<div fxLayout="column" fxLayoutAlign="space-around center">
    <p>Arbeitszeit: {{getWorkedHoursString()}}</p>
    <p>{{maintenanceString}}</p>
    <p *ngIf="additionalWorkloadString.length > 0">{{additionalWorkloadString}}</p>
    <div *ngIf="showJobs">
        <div *ngFor="let jobList of this.getAllJobs(); let i = index">
            <div *ngFor="let job of getJobs(i).controls">
                <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="showJob(job)">
                    <h4><strong>{{job.get('name').value}}</strong></h4>
                    <p>Normal: {{getMinutesStringByJob(job, false)}}</p>
                    <p>Regie: {{getMinutesStringByJob(job, true)}}</p>
                </div>
            </div>
        </div>
    </div>
    <p><strong>Essen: {{eatingPlaceName}}</strong></p>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <p><strong>Ausgaben:</strong></p>
        <p *ngFor="let expense of getExpenses().controls">
            {{expense.get('name').value}}: {{expense.get('amount').value}} €
        </p>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <p><strong>Fahrten:</strong></p>
        <p *ngFor="let driveString of driveStrings">{{driveString}}</p>
    </div>
</div>
