@use 'sass:map';
@use "../../../shared/components/base-edit/base-edit.component";
@use '../../../../theme' as theme;

.mat-toolbar {
  margin: 10px 0;
  &.created {
    background: #EAEAEA;
    color: map.get(theme.$mat-accent, main);
  }

  &.accepted {
    background: #90EE90;
    color: map.get(theme.$mat-accent, main);
  }

  &.completed {
    background: map.get(theme.$mat-primary, 200);
    color: map.get(theme.$mat-accent, main);
  }

  &.declined {
    background: #F08080;
    color: map.get(theme.$mat-accent, main);
  }
}

.statusbar-spacer {
  flex: 1 1 auto;
}
