@use 'sass:map';
@use "../../../shared/components/base-edit/base-edit.component";
@use '../../../../theme' as *;

.mat-toolbar {
  margin: 10px 0;
  &.created {
    background: #EAEAEA;
    color: var(--md-sys-color-secondary);
  }

  &.accepted {
    background: #90EE90;
    color: var(--md-sys-color-secondary);
  }

  &.completed {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-secondary);
  }

  &.declined {
    background: #F08080;
    color: var(--md-sys-color-secondary);
  }
}

.statusbar-spacer {
  flex: 1 1 auto;
}
