.element-field {
  border: solid 1px #E5E5E5;
  border-radius: 8px;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin: 0.25rem 0;

  .element-field-header {
    padding: 12px 16px 8px;
    display: flex;
    flex-direction: column;

    .sub-header {
      color: #797971;
    }
  }

  .element-field-content {
    padding: 0 16px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;

    .padd-8 {
      padding-top: 8px;
    }

    .vertical-radio {
      display: flex;
      flex-direction: column;
    }

  }
}

.my-1 {
  margin-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}
