<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="fieldsGroup">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      <div fxLayout="row" fxLayoutGap="16">
        <mat-form-field fxFlex>
          <mat-label>Name</mat-label>
          <input class="form-control" formControlName="label" matInput pattern="[a-zA-ZäöüÄÖÜß]+">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Beschreibung (intern als Tooltip)</mat-label>
          <input class="form-control" formControlName="description" matInput>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Datentyp</mat-label>
          <mat-select class="form-control" formControlName="type">
            <mat-option value="{{ OfferFieldEnum.String }}">{{ fieldTypeToString(OfferFieldEnum.String) }}
            </mat-option>
            <mat-option value="{{ OfferFieldEnum.Text }}">{{ fieldTypeToString(OfferFieldEnum.Text) }}
            </mat-option>
            <mat-option value="{{ OfferFieldEnum.Numeric }}">{{ fieldTypeToString(OfferFieldEnum.Numeric) }}
            </mat-option>
            <mat-option value="{{ OfferFieldEnum.Calculation }}">{{ fieldTypeToString(OfferFieldEnum.Calculation) }}
            </mat-option>
            <mat-option value="{{ OfferFieldEnum.Select }}">{{ fieldTypeToString(OfferFieldEnum.Select) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        @if (fieldsGroup.get("type").value == OfferFieldEnum.Numeric || fieldsGroup.get("type").value == OfferFieldEnum.Calculation) {
          <mat-form-field fxFlex>
            <mat-label>Einheit</mat-label>
            <mat-select class="form-control" formControlName="unitId">
              <mat-option value="-1">Auswählen</mat-option>
              @if (units$ | async; as units) {
                @for (unit of units; track unit.id) {
                  <mat-option value="{{unit.id}}">{{ unit.name }} [{{ unit.short }}]</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
        } @else {
          <div fxFlex></div>
        }
      </div>
      @if (fieldsGroup.get("type").value == OfferFieldEnum.Calculation) {
        <app-offer-calculation-input [value]="fieldsGroup.get('calculation').value" label="Berechnung"
                                     [setValue]="setCalculation.bind(this)"></app-offer-calculation-input>
      }
      @if (fieldsGroup.get("type").value == OfferFieldEnum.Select) {
        <div class="infobox">
          Die Quelle dieses Auswahl-Felds (Bibliothek bzw. manuelle Optionen) wird pro Element festgelegt.
        </div>
      }
    </div>
  </form>
</div>
<mat-dialog-actions>

  @if (loading$ | async) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
      <button mat-button (click)="onCancelClick()">Abbrechen</button>
      @if (fieldId) {
        <button (click)="onDelete()" mat-stroked-button color="warn">Löschen</button>
      }
      <button mat-button type="submit" [disabled]="!fieldsGroup.valid" (click)="onSubmitClick()">Speichern</button>
    </div>
  }
</mat-dialog-actions>
