<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="fieldsGroup">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      <div fxLayout="row" fxLayoutGap="16">
        <mat-form-field fxFlex>
          <mat-label>Name</mat-label>
          <input class="form-control" formControlName="label" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Beschreibung (intern als Tooltip)</mat-label>
          <input class="form-control" formControlName="description" matInput>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Datentyp</mat-label>
          <mat-select class="form-control" formControlName="type">
            <mat-option value="{{ OfferFieldEnum.String }}">{{ fieldTypeToString(OfferFieldEnum.String) }}
            </mat-option>
            <mat-option value="{{ OfferFieldEnum.Text }}">{{ fieldTypeToString(OfferFieldEnum.Text) }}
            </mat-option>
            <mat-option value="{{ OfferFieldEnum.Numeric }}">{{ fieldTypeToString(OfferFieldEnum.Numeric) }}
            </mat-option>
            <mat-option value="{{ OfferFieldEnum.Calculation }}">{{ fieldTypeToString(OfferFieldEnum.Calculation) }}
            </mat-option>
            <mat-option value="{{ OfferFieldEnum.Select }}">{{ fieldTypeToString(OfferFieldEnum.Select) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        @if (fieldsGroup.get("type").value == OfferFieldEnum.Numeric || fieldsGroup.get("type").value == OfferFieldEnum.Calculation) {
          <mat-form-field fxFlex>
            <mat-label>Einheit</mat-label>
            <mat-select class="form-control" formControlName="unitId">
              <mat-option value="-1">Auswählen</mat-option>
              @if (units$ | async; as units) {
                @for (unit of units; track unit.id) {
                  <mat-option value="{{unit.id}}">{{ unit.short }}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
        } @else {
          <div fxFlex></div>
        }
      </div>
      @if (fieldsGroup.get("type").value == OfferFieldEnum.Calculation) {
        <div fxLayout="column" fxLayoutGap="16" class="my-1">
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Berechnung</mat-label>
            <input type="text" #calculationInput matInput (keyup)="onCalculationKeyUp()"
                   formControlName="calculation" />
            <mat-hint>
              <code>&#64;Feldname</code> tippen um ein anderes Feld zu referenzieren. Operatoren: + (plus), - (minus), *
              (mal), /
              (geteilt)<br />
              Es können alle Felder im System referenziert werden. Ein Element welches dieses Feld enthält, muss die
              referenzieren Felder auch haben<br />
              Weitere Referenzierungen: <code>&#64;parent.Feldname</code>,
              <code>&#64;child.Elementname.Feldname</code><br />
              Beispiele:
              <ul>
                <li>mit <code>&#64;child.Schrank.Höhe</code> wird das "Höhe" feld des Unterelement "Schrank"
                  referenziert
                </li>
                <li>mit <code>&#64;parent.Breite</code> wird das "Breite" feld des darüberligenden Element referenziert
                </li>
                <li>Volumen Kegel = <code>3.14 * &#64;Radius * &#64;Radius * &#64;Höhe * 1/3</code></li>
              </ul>
            </mat-hint>
          </mat-form-field>
          @if (displayFields) {
            <div fxLayout="row" fxLayoutGap="8" class="my-1">
              @for (field of displayFields; track field.id) {
                <button (click)="onFieldClick(displayFields[$index])" value="{{field.label}}" mat-stroked-button
                        class="autocomplete-button">{{ field.label }}
                </button>
              }
            </div>
          }
        </div>
      }
      @if (fieldsGroup.get("type").value == OfferFieldEnum.Select) {
        <div class="infobox">
          Die Quelle dieses Auswahl-Felds (Bibliothek bzw. manuelle Optionen) wird pro Element festgelegt.
        </div>
      }
    </div>
  </form>
</div>
<mat-dialog-actions>

  @if (loading$ | async) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
      <button mat-button (click)="onCancelClick()">Abbrechen</button>
      <button (click)="onDelete()" mat-stroked-button color="warn">Löschen</button>
      <button mat-button type="submit" (click)="onSubmitClick()">Speichern</button>
    </div>
  }
</mat-dialog-actions>
