<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Jahr">
      <form [formGroup]="moveJobYearFormGroup">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-form-field appearance="fill">
            <mat-label>Jahr</mat-label>
            <input matInput formControlName="year">
          </mat-form-field>
        </div>
      </form>
      <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancelClick()">Abbrechen</button>
        <button mat-button type="button" (click)="onSubmitYearClick()">Speichern</button>
      </div>
    </mat-tab>
    <mat-tab label="Kunde">
      <mat-form-field appearance="fill">
        <mat-label>Kunde</mat-label>
        <input
          type="text"
          matInput
          formControlName="customerSearch"
          [matAutocomplete]="auto">

        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selectCustomer($event.option.value)">

          @if (filteredCustomers | async; as customers) {
            @for (customer of customers; track customer.id) {
              <mat-option [value]="customer">
                {{ customer.name }}
              </mat-option>
            }
          }

        </mat-autocomplete>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancelClick()">Abbrechen</button>
        <button mat-button type="button" (click)="onSubmitCustomerClick()">Speichern</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
