<app-toolbar [title]="title" [buttonList]="isMainJob ? buttonsMain : buttonsSub"></app-toolbar>
@if (isMainJob) {
  <app-job-status-bar [jobId]="jobId"></app-job-status-bar>
}
<div class="window-container">
  <app-info-builder [dataSource]="infoDataSource"></app-info-builder>
  @if (isMainJob) {
    <app-table-builder [$refresh]="$refresh" [dataSource]="subJobDataSource" title="Unteraufträge"></app-table-builder>
  }
  @if (isMainJob && offersAllowed) {
    <app-table-builder [$refresh]="$refresh" [dataSource]="offerDataSource"
                       title="Angebote"></app-table-builder>
  }
  @if (isMainJob && outgoingInvoicesAllowed) {
    <app-table-builder [$refresh]="$refresh" [dataSource]="outgoingInvoiceDataSource"
                       title="Rechnungen"></app-table-builder>
  }
  @if (ordersAllowed) {
    <app-table-builder [$refresh]="$refresh" [dataSource]="orderDataSource" title="Bestellungen"></app-table-builder>
  }
  @if (deliveryNoteAllowed) {
    <app-table-builder [$refresh]="$refresh" [dataSource]="deliveryNoteDataSource"
                       title="Lieferscheine"></app-table-builder>
  }
</div>

