<app-toolbar [title]="title" [buttonList]="isMainJob ? buttonsMain : buttonsSub"></app-toolbar>
@if (isMainJob) {
  <app-job-status-bar [jobId]="jobId"></app-job-status-bar>
}
<div class="window-container">
  <app-info-builder [dataSource]="infoDataSource"></app-info-builder>

  @if (isMainJob) {
    <div class="table-section">
      <app-table-builder [$refresh]="$refresh" [dataSource]="subJobDataSource"
                         title="Unteraufträge"></app-table-builder>
    </div>
  }

  @if (isMainJob && offersAllowed) {
    <div class="table-section">
      <app-table-builder [$refresh]="$refresh" [dataSource]="offerDataSource" title="Angebote"></app-table-builder>
    </div>
  }

  @if (isMainJob && outgoingInvoicesAllowed) {
    <div class="table-section">
      <app-table-builder [$refresh]="$refresh" [dataSource]="outgoingInvoiceDataSource"
                         title="Rechnungen"></app-table-builder>
    </div>
  }

  @if (ordersAllowed) {
    <div class="table-section">
      <app-table-builder [$refresh]="$refresh" [dataSource]="orderDataSource" title="Bestellungen"></app-table-builder>
    </div>
  }

  @if (deliveryNoteAllowed) {
    <div class="table-section">
      <app-table-builder [$refresh]="$refresh" [dataSource]="deliveryNoteDataSource"
                         title="Lieferscheine"></app-table-builder>
    </div>
  }
  @if (recalculationAllowed) {
    <div class="table-section">
      <app-table-builder [$refresh]="$refresh" [dataSource]="recalculationDataSource"
                         title="Nachberechnung"></app-table-builder>
    </div>
  }
</div>

