<mat-form-field
  [appearance]="outline ? 'outline' : 'fill'"
  [class.new-form-element]="outline"
  class="select-container"
  [fxFlex]="fillWidth">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <mtx-select
    class="select-container"
    [items]="elements$ | async"
    [searchFn]="searchFun.bind(this)"
    bindValue="customId"
    bindLabel="name"
    [trackByFn]="trackByFn"
    [minTermLength]="2"
    [value]="`element-${value}`"
    [clearable]="false"
    [addTag]="addingEnabled"
    [editableSearchTerm]="true"
    panelClass="mtx-select-panel-container"
    typeToSearchText="Tippen um Element zu suchen"
    (change)="onChange($event)"
    (keyup)="onKeyUp($event)"
    (close)="onClose()"
    #selectChild
  >

    <ng-template ng-option-tmp let-item="item">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        @if ('entry_count' in item) {
          <span>{{ item.name }}</span>
          <app-offer-field-element-type-pill fieldType="Template"
                                             color="#feedb3"></app-offer-field-element-type-pill>
        } @else {
          <span>{{ item.name }}</span>
          <app-offer-field-element-type-pill [fieldType]="item.elementType.name"></app-offer-field-element-type-pill>
        }
      </div>
    </ng-template>
    <ng-template ng-tag-tmp class="select-element-types">
      <strong>Kein Treffer: Neues Element "{{ searchString }}" erstellen</strong>
      <div
        style="display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;justify-content: flex-start;gap:8px;margin-top: 8px;">
        @for (elementType of allElementTypes; track elementType.id) {
          <app-offer-field-element-type-pill
            [fieldType]="`+${elementType.name}`"
            (click)="onAddType(elementType)">

          </app-offer-field-element-type-pill>
        }
      </div>
      <div fxLayout="row" fxLayoutAlign="start center"
           style="display:flex;flex-direction:row;align-items:flex-start;justify-content:center;margin-top:8px;">
        <mat-icon (click)="onCheckSavInLibrary()">
          @if (!saveInLibrary) {
            check_box_outline_blank
          } @else {
            check_box
          }
        </mat-icon>
        <span is="save-in-library" (click)="onCheckSavInLibrary()">In Bibliothek speichern</span>
      </div>
    </ng-template>

  </mtx-select>
</mat-form-field>


