@use "sass:map";
@import "../../../theme";

.note {
  background: white;
  isolation: isolate;

  .note-list {
    margin-top: 40px;

    .single-note-container {
      overflow: visible;
      aspect-ratio: 1.5;

      &:first-child,
      &:nth-child(4n) {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
      }

      &:nth-child(2n) {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
      }

      &:nth-child(3n) {
        transform: rotate(.5deg);
        -webkit-transform: rotate(.5deg);
        -moz-transform: rotate(.5deg);
      }

      &:nth-child(5n) {
        transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
      }

      &:hover {
        //-webkit-transform: scale(1.1);
        //-moz-transform: scale(1.1);
        //transform: scale(1.1);
      }
    }
  }

}

