<app-toolbar title="Lieferanten/Lager" [buttonList]="buttons"></app-toolbar>
<div class="window-container">
  <mat-tab-group>
    <mat-tab label="Lieferanten">
      @if (suppliersReadAllowed) {
        <app-table-builder [$refresh]="$refresh" title="Lieferanten"
        [dataSource]="supplierTableDataSource"></app-table-builder>
      }
    </mat-tab>
    <mat-tab label="Lager">
      @if (stocksReadAllowed) {
        <app-table-builder [$refresh]="$refresh" title="Lager"
        [dataSource]="stockTableDataSource"></app-table-builder>
      }
    </mat-tab>
  </mat-tab-group>
</div>
