<ng-container [formGroup]="entryFormGroup">
  @if (entryFormGroup.get("type").value === OfferFieldEnum.String || entryFormGroup.get("type").value === OfferFieldEnum.Calculation) {
    <mat-form-field appearance="outline" class="new-form-element">
      <mat-label>{{ entryFormGroup.get("label").value }}</mat-label>
      <input matInput [readonly]="entryFormGroup.get('type').value === OfferFieldEnum.Calculation"
             formControlName="value">
      @if (resettable) {
        <mat-icon class="neutral" matSuffix title="Zurücksetzen"
                  (click)="onReset()">rotate_left
        </mat-icon>
      }
    </mat-form-field>
  } @else if (entryFormGroup.get("type").value === OfferFieldEnum.Numeric) {
    <mat-form-field appearance="outline" class="new-form-element">
      <mat-label>{{ entryFormGroup.get("label").value }}</mat-label>
      <input matInput formControlName="value">
      @if (resettable) {
        <mat-icon class="neutral" matSuffix title="Zurücksetzen"
                  (click)="onReset()">rotate_left
        </mat-icon>
      }
    </mat-form-field>
  } @else if (entryFormGroup.get("type").value === OfferFieldEnum.Text) {
    <mat-form-field appearance="outline" class="new-form-element">
      <mat-label>{{ entryFormGroup.get("label").value }}</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" formControlName="value"></textarea>
      @if (resettable) {
        <mat-icon class="neutral" matSuffix (click)="onReset()" title="Zurücksetzen">rotate_left</mat-icon>
      }
    </mat-form-field>
  } @else if (entryFormGroup.get("type").value === OfferFieldEnum.Select) {
    <app-offer-library-entry-selector
      [allLibraries]="allLibraries"
      [firstLibraryId]="entryFormGroup.get('libraryId').value"
      [value]="parseInt(entryFormGroup.get('value').value,10)"
      [label]="entryFormGroup.get('label').value"
      (setValue)="onSelectionChanged($event)"
      fillWidth
      outline
    ></app-offer-library-entry-selector>

  }

</ng-container>
