<app-toolbar [buttonList]="buttons" title="Rechnung"></app-toolbar>
<div class="window-container">
  <mat-tab-group (selectedIndexChange)="selectedTabChanged($event)">
    @if (outgoingInvoicesAvailable) {
      <mat-tab label="Ausgangsrechnungen">
        <app-outgoing></app-outgoing>
      </mat-tab>
    }
    @if (ingoingInvoicesAvailable) {
      <mat-tab label="Eingangsrechnungen">
        <app-ingoing [updateTables$]="updateChildTables$"></app-ingoing>
      </mat-tab>
    }
    @if (expensesAvailable) {
      <mat-tab label="Spesen">
        <app-expenses></app-expenses>
      </mat-tab>
    }
  </mat-tab-group>
</div>
