<app-toolbar [buttonList]="buttons" title="Rechnung"></app-toolbar>
<div class="window-container">
  <mat-tab-group (selectedIndexChange)="selectedTabChanged($event)">
    @if (outgoingInvoicesAvailable) {
      <mat-tab label="Ausgangsrechnungen">
        <app-outgoing [$refresh]="$refresh"></app-outgoing>
      </mat-tab>
    }
    @if (ingoingInvoicesAvailable) {
      <mat-tab label="Eingangsrechnungen">
        <app-ingoing [$refresh]="$refresh" [updateTables$]="updateChildTables$"></app-ingoing>
      </mat-tab>
    }
  </mat-tab-group>
</div>
