<app-toolbar [buttonList]="buttons" title="Rechnung"></app-toolbar>
<div class="window-container">
    <mat-tab-group (selectedIndexChange)="selectedTabChanged($event)">
        <mat-tab *ngIf="outgoingInvoicesAvailable" label="Ausgangsrechnungen">
            <app-outgoing [$refresh]="$refresh"></app-outgoing>
        </mat-tab>
        <mat-tab *ngIf="ingoingInvoicesAvailable" label="Eingangsrechnungen">
            <app-ingoing [$refresh]="$refresh" [updateTables$]="updateChildTables$"></app-ingoing>
        </mat-tab>
    </mat-tab-group>
</div>
