<nav mat-tab-nav-bar [tabPanel]="tabPanel" class="mt-6" selectedIndex="1">
  <div fxFlex></div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8">
    @for (type of INVOICE_TYPES; track type) {
      <a mat-tab-link
         (click)="setActiveType(type)"
         [active]="activeType == type"> {{ type }} </a>
    }
    @if ($year | async; as years) {
      <mat-form-field appearance="outline" class="new-form-element">
        <mat-label>Jahr</mat-label>
        <mat-select [(value)]="selectedYear" (valueChange)="this.yearChanged()">
          @for (year of years; track year) {
            <mat-option [value]="year">
              {{ year }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<app-table-builder [buttons]="buttons"
                   [dataSource]="outgoingDataSource"></app-table-builder>
