<h1 mat-dialog-title="">{{ title }}</h1>
<div
  mat-dialog-content=""
  class="dialog-content flex flex-col justify-start items-stretch flex-row">
  <form (submit)="onSaveClick()" [formGroup]="templatePaintEditGroup">
    <div class="flex flex-col justify-between items-start flex-row">
      <mat-form-field appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <input matInput="" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Einheit</mat-label>
        <mat-select formControlName="unit_id">
          <mat-option
            *ngFor="let unit of unitOptions$ | async"
            [value]="unit.id">
            {{ unit.name.translation }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Preis</mat-label>
        <input matInput="" type="number" formControlName="price" />
      </mat-form-field>
    </div>
    <div class="flex flex-row justify-around items-start">
      <button
        *ngIf="!createMode"
        type="button"
        mat-button=""
        (click)="onDeleteClick()">
        Löschen
      </button>
      <span class="spacer"></span>
      <button type="button" mat-button="" (click)="onCancelClick()">
        Abbrechen
      </button>
      <button
        type="submit"
        [disabled]="!templatePaintEditGroup.valid"
        mat-button=""
        class="add-button">
        Speichern
      </button>
    </div>
  </form>
</div>
