<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmitClick()" [formGroup]="dataGroup">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      @if (!createMode) {
        <mat-form-field appearance="fill" class="readonly">
          <mat-label>Mitarbeiter</mat-label>
          <input class="form-control" formControlName="user" matInput readonly>
        </mat-form-field>
      } @else {
        <mat-form-field appearance="fill">
          <mat-label>Mitarbeiter</mat-label>
          <mat-select formControlName="user" (selectionChange)="onSelectUser()">
            <mat-option value="-1">
              Bitte wählen
            </mat-option>
            @for (user of users$ | async; track user) {
              <mat-option [value]="user.id">
                {{ user.fullname }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      <div fxLayout="row" fxLayoutGap="16" fxFlexFill fxLayoutAlign="start">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Minuten</mat-label>
          <input class="form-control" formControlName="minutes" matInput (keyup)="onMinutesChange()">
        </mat-form-field>
        <mat-form-field appearance="fill" class="readonly" fxFlex>
          <mat-label>Stunden</mat-label>
          <input class="form-control" formControlName="hours" matInput readonly>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="readonly">
        <mat-label>Stundensatz</mat-label>
        <input class="form-control" formControlName="hourlyRate" matInput readonly>
        <span matTextSuffix>€</span>
      </mat-form-field>
      <mat-form-field appearance="fill" class="readonly">
        <mat-label>Summe</mat-label>
        <input class="form-control" formControlName="sum" matInput readonly>
        <span matTextSuffix>€</span>
      </mat-form-field>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
    <button mat-button (click)="onCancelClick()">Abbrechen</button>
    <button mat-button type="submit" (click)="onSubmitClick()">Speichern</button>
  </div>
</mat-dialog-actions>
