<h1 mat-dialog-title>{{ this.data.offer.name }}</h1>
<div mat-dialog-content>

  <div class="viewer-container">
    <div [className]="`viewer${isPrinting ? ' print' : ''}`" #container>

      <section class="page page--cover">

        <!-- Banner / logo -->
        <div class="banner">
          <img ngSrc="/assets/images/ESS-Versatz-Logo+Claim.png" fill alt="Eisenstecken">
        </div>

        <!-- Vertical legal side text -->
        <div class="side-text">
          MwSt.-Nr./P.IVA IT00745560219<span class="sep">|</span>St.-Nr./C.F. 00745560219<span class="sep">|</span>Eintr.-Nr
          HK / N.iscr.reg.Imp. BZ-125676<span class="sep">|</span>Ges.Kap. / Cap.soc 120.000,00 € v.e. / i.v.<span
          class="sep">|</span>eisenstecken&commat;pec.it<span class="sep">|</span>Empf.-Kod./Cod. Dest. SUBM70N
        </div>

        <!-- Content frame -->
        <div class="content">
          <div class="title-row">
            <div class="title">{{ offer }}</div>
            <div class="destination">
              <div>{{ data.offer.job.client.address.name }}</div>
              <div>{{ data.offer.job.client.address.address_1 }}</div>
              <div>{{ data.offer.job.client.address.address_2 }}</div>
              <div>{{ data.offer.job.client.address.country_name }}</div>
              <div class="place-date">Feldthurns, den {{ now }}</div>
            </div>
          </div>

          <div class="offer-intro">{{ first_page_text }}
          </div>

          <div class="salutation-signature">
            <div class="salutation">
              <div class="sal-greeting">{{ mfg }}</div>
              <img ngSrc="/assets/images/signature_eisenstecken_hannes.svg" [width]="mm(45)"
                   [height]="mm(45*(104/294))"
                   alt="Unterschrift">
              <div class="sal-name">{{ name }}</div>
              <div class="sal-role">{{ position }}</div>

              <div class="sal-contact">M&nbsp;&nbsp;+39 328 35 27 802&nbsp;&nbsp;|&nbsp;&nbsp;hannes&commat;eisenstecken.it</div>
            </div>
          </div>
          <div class="closing-logos">
            <img ngSrc="/assets/images/ESS-Versatz-Ergaenzungs-Logos.jpg" [height]="mm(17)"
                 [width]="mm(17*(4913/896))" alt="">
            <img ngSrc="/assets/images/lehrlinge2024.jpg" [height]="mm(17)" [width]="mm(17*(1240/1748))" alt="">
          </div>
        </div>

        <!-- Footer -->
        <div class="footer">
          <div class="frow frow--first">
            <span class="fcell">Eisenstecken GmbH/Srl</span>
            <span class="fcell">Handwerkerzone 1</span>
            <span class="fcell">T +39 0472 85 52 48</span>
            <span class="fcell">info&commat;eisenstecken.it</span>
          </div>
          <div class="frow frow--second">
            <span class="fcell"></span>
            <span class="fcell">39040 Feldthurns/Velturno - Italy</span>
            <span class="fcell">M +39 328 35 27 802</span>
            <span class="fcell">www.eisenstecken.it</span>
          </div>
        </div>

        <div class="fold-mark"></div>
      </section>
      <section class="page page--cover">

        <!-- Banner / logo -->
        <div class="banner">
          <img ngSrc="/assets/images/ESS-Versatz-Logo+Claim.png" fill alt="Eisenstecken">
        </div>

        <!-- Vertical legal side text -->
        <div class="side-text">
          MwSt.-Nr./P.IVA IT00745560219<span class="sep">|</span>St.-Nr./C.F. 00745560219<span class="sep">|</span>Eintr.-Nr
          HK / N.iscr.reg.Imp. BZ-125676<span class="sep">|</span>Ges.Kap. / Cap.soc 120.000,00 € v.e. / i.v.<span
          class="sep">|</span>eisenstecken&commat;pec.it<span class="sep">|</span>Empf.-Kod./Cod. Dest. SUBM70N
        </div>

        <!-- Content frame -->
        <div class="content" #firstContent>
          <div class="title-row">
            <div class="title">{{ offer }}</div>
            <div class="destination">
              <div>{{ data.offer.job.client.address.name }}</div>
              <div>{{ data.offer.job.client.address.address_1 }}</div>
              <div>{{ data.offer.job.client.address.address_2 }}</div>
              <div>{{ data.offer.job.client.address.country_name }}</div>
            </div>
          </div>
          <div class="header-args">
            <div class="harg">
              <div class="label">{{ labels.number }}</div>
              <div class="value">{{ data.offer.number.toString(10).padStart(3, "0") }}</div>
            </div>
            <div class="harg">
              <div class="label">{{ labels.date }}</div>
              <div class="value">{{ dayjs(data.offer.date).format("DD.MM.YYYY") }}</div>
            </div>
            <div class="harg">
              <div class="label">{{ labels.page }}</div>
              <div class="value">02 / {{ pages.toString(10).padStart(2, '0') }}</div>
            </div>
            <div class="harg">
              <div class="label">{{ labels.client }}</div>
              <div class="value">{{ data.offer.job.client.id.toString(10).padStart(4, "0") }}</div>
            </div>
            <div class="harg">
              <div class="label">{{ labels.vatNumber }}</div>
              <div class="value">{{ data.offer.job.client.fiscal_code }}</div>
            </div>
            <div class="harg">
              <div class="label">{{ labels.fiscalCode }}</div>
              <div class="value">{{ data.offer.job.client.esigibilita_iva }}</div>
            </div>
          </div>
          @if (material_desc_body != '') {
            <div class="material-description">
              <div class="md-title">{{ material_desc_title }}</div>
              <div class="md-text">{{ material_desc_body }}
              </div>
            </div>
          }
          <div class="offer-table" #firstOfferTable>
            <!-- column captions -->
            <div class="row row--head">
              <div class="cell cell--num">{{ labels.position }}</div>
              <div class="cell cell--desc">{{ labels.description }}</div>
              <div class="cell cell--qty">{{ labels.quantity }}</div>
              <div class="cell cell--single">{{ labels.singlePrice }}</div>
              <div class="cell cell--total">{{ labels.totalPrice }}</div>
            </div>
            <div class="row row--spacer"></div>
            @for (row of (offerTableMeasurements.length === 0 ? rows : rows.slice(0, offerTableMeasurements[0].length)); track row.prefix; let idx = $index) {
              <div
                [className]="`row${row.type === 'title' || row.type === 'alternative-title' ? ' row--section' : ''}${row.type === 'sconto' ? ' row--sconto' : ''}${row.type === 'alternative' || row.type === 'alternative-title' ? ' row--alternative' : ''}${row.notMade ? ' row--not-made' : ''}`">
                <div
                  class="cell cell--num">{{ row.type === 'title' || row.type === "normal" ? row.prefix : "" }}
                </div>
                <div class="cell cell--desc">
                  @for (line of row.text; track line; let idx = $index) {
                    <span>{{ line }}</span>
                    @if (idx < row.text.length - 1) {
                      <br />
                    }
                  }
                </div>
                <div class="cell cell--qty">
                  @if (row.price != 0) {
                    {{ row.type !== 'normal' ? '' : row.amount.toString(10) }}
                  }
                </div>
                <div
                  class="cell cell--single">
                  @if (row.price != 0) {
                    {{ row.type !== 'normal' ? '' : formatCurrency(row.price, "de-DE", "€") }}
                  }
                </div>
                <div class="cell cell--total">
                  @if (row.price != 0) {
                    {{ formatCurrency(row.amount * row.price, "de-DE", "€") }}
                  }
                </div>
              </div>
              @for (statement of row.statements; track statement.text) {
                <div
                  [className]="`row ${statement.additionSubstraction ? 'row--addition' : 'row--substraction'}`">
                  <div
                    class="cell cell--num"></div>
                  <div class="cell cell--desc">{{ statement.text.slice(0, 20) }}</div>
                  <div class="cell cell--qty">{{ statement.amount }}</div>
                  <div class="cell cell--single">{{ formatCurrency(statement.price, "de-DE", "€") }}</div>
                  <div
                    class="cell cell--total">{{ statement.additionSubstraction ? '+' : '-' }}{{ formatCurrency(statement.price * statement.amount, "de-DE", "€") }}
                  </div>
                </div>
              }
            }

          </div>
        </div>

        <div class="footer">
          <div class="frow frow--first">
            <span class="fcell">Eisenstecken GmbH/Srl</span>
            <span class="fcell">Handwerkerzone 1</span>
            <span class="fcell">T +39 0472 85 52 48</span>
            <span class="fcell">info&commat;eisenstecken.it</span>
          </div>
          <div class="frow frow--second">
            <span class="fcell"></span>
            <span class="fcell">39040 Feldthurns/Velturno - Italy</span>
            <span class="fcell">M +39 328 35 27 802</span>
            <span class="fcell">www.eisenstecken.it</span>
          </div>
        </div>

        <div class="fold-mark"></div>
      </section>
      @if (offerTableMeasurements.length > 1 || offerTableMeasurements.length === 0) {
        @for (measurement of (offerTableMeasurements.length === 0 ? [""] : offerTableMeasurements.slice(1)); track measurement; let idx = $index) {

          <section class="page page--body">
            <div class="banner">
              <img ngSrc="/assets/images/ESS-Versatz-Logo+Claim.png" fill alt="Eisenstecken">
            </div>
            <div class="side-text">
              MwSt.-Nr./P.IVA IT00745560219<span class="sep">|</span>St.-Nr./C.F. 00745560219<span
              class="sep">|</span>Eintr.-Nr
              HK / N.iscr.reg.Imp. BZ-125676<span class="sep">|</span>Ges.Kap. / Cap.soc 120.000,00 € v.e. / i.v.<span
              class="sep">|</span>eisenstecken&commat;pec.it<span class="sep">|</span>Empf.-Kod./Cod. Dest. SUBM70N
            </div>
            @if (offerTableMeasurements.length === 0) {
              <div class="content" #secondContent>
                <div class="header-args">
                  <div class="harg">
                    <div class="label">{{ labels.number }}</div>
                    <div class="value">{{ data.offer.number.toString(10).padStart(3, "0") }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.date }}</div>
                    <div class="value">{{ dayjs(data.offer.date).format("DD.MM.YYYY") }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.page }}</div>
                    <div class="value">01 / {{ pages.toString(10).padStart(2, '0') }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.client }}</div>
                    <div class="value">{{ data.offer.job.client.id.toString(10).padStart(4, "0") }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.vatNumber }}</div>
                    <div class="value">{{ data.offer.job.client.fiscal_code }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.fiscalCode }}</div>
                    <div class="value">{{ data.offer.job.client.esigibilita_iva }}</div>
                  </div>
                </div>
                <div class="offer-table" #secondOfferTable>
                  <div class="row row--head">
                    <div class="cell cell--num">{{ labels.position }}</div>
                    <div class="cell cell--desc">{{ labels.description }}</div>
                    <div class="cell cell--qty">{{ labels.quantity }}</div>
                    <div class="cell cell--single">{{ labels.singlePrice }}</div>
                    <div class="cell cell--total">{{ labels.totalPrice }}</div>
                  </div>
                  <div class="row row--spacer"></div>
                </div>
              </div>
            } @else {
              <div class="content">
                <div class="header-args">
                  <div class="harg">
                    <div class="label">{{ labels.number }}</div>
                    <div class="value">{{ data.offer.number.toString(10).padStart(3, "0") }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.date }}</div>
                    <div class="value">{{ dayjs(data.offer.date).format("DD.MM.YYYY") }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.page }}</div>
                    <div class="value">01 / {{ pages.toString(10).padStart(2, '0') }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.client }}</div>
                    <div class="value">{{ data.offer.job.client.id.toString(10).padStart(4, "0") }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.vatNumber }}</div>
                    <div class="value">{{ data.offer.job.client.fiscal_code }}</div>
                  </div>
                  <div class="harg">
                    <div class="label">{{ labels.fiscalCode }}</div>
                    <div class="value">{{ data.offer.job.client.esigibilita_iva }}</div>
                  </div>
                </div>
                <div class="offer-table">
                  <div class="row row--head">
                    <div class="cell cell--num">{{ labels.position }}</div>
                    <div class="cell cell--desc">{{ labels.description }}</div>
                    <div class="cell cell--qty">{{ labels.quantity }}</div>
                    <div class="cell cell--single">{{ labels.singlePrice }}</div>
                    <div class="cell cell--total">{{ labels.totalPrice }}</div>
                  </div>
                  <div
                    [className]="`row row--spacer ${rows.length} ${offerTableMeasurements[idx].length} ${measurement.length}`"></div>
                  @for (row of rows.slice(offerTableMeasurements[idx].length, offerTableMeasurements[idx].length + measurement.length); track row.prefix) {
                    <div
                      [className]="`row${row.type === 'title' || row.type === 'alternative-title' ? ' row--section' : ''}${row.type === 'sconto' ? ' row--sconto' : ''}${row.type === 'alternative' || row.type === 'alternative-title' ? ' row--alternative' : ''}${row.notMade ? ' row--not-made' : ''}`">
                      <div
                        class="cell cell--num">{{ row.type === 'title' || row.type === "normal" ? row.prefix : "" }}
                      </div>
                      <div class="cell cell--desc">
                        @for (line of row.text; track line; let idx = $index) {
                          <span>{{ line }}</span>
                          @if (idx < row.text.length - 1) {
                            <br />
                          }
                        }
                      </div>
                      <div class="cell cell--qty">{{ row.type !== 'normal' ? '' : row.amount.toString(10) }}</div>
                      <div
                        class="cell cell--single">{{ row.type !== 'normal' ? '' : formatCurrency(row.price, "de-DE", "€") }}
                      </div>
                      <div class="cell cell--total">{{ formatCurrency(row.amount * row.price, "de-DE", "€") }}</div>
                    </div>
                    @for (statement of row.statements; track statement.text) {
                      <div
                        [className]="`row ${statement.additionSubstraction ? 'row--addition' : 'row--substraction'}`">
                        <div
                          class="cell cell--num"></div>
                        <div class="cell cell--desc">{{ statement.text.slice(0, 20) }}</div>
                        <div class="cell cell--qty">{{ statement.amount }}</div>
                        <div class="cell cell--single">{{ formatCurrency(statement.price, "de-DE", "€") }}</div>
                        <div
                          class="cell cell--total">{{ statement.additionSubstraction ? '+' : '-' }}{{ formatCurrency(statement.price * statement.amount, "de-DE", "€") }}
                        </div>
                      </div>
                    }
                  }

                </div>
              </div>
            }
            <div class="footer">
              <div class="frow frow--first">
                <span class="fcell">Eisenstecken GmbH/Srl</span>
                <span class="fcell">Handwerkerzone 1</span>
                <span class="fcell">T +39 0472 85 52 48</span>
                <span class="fcell">info&commat;eisenstecken.it</span>
              </div>
              <div class="frow frow--second">
                <span class="fcell"></span>
                <span class="fcell">39040 Feldthurns/Velturno - Italy</span>
                <span class="fcell">M +39 328 35 27 802</span>
                <span class="fcell">www.eisenstecken.it</span>
              </div>
            </div>
            <div class="fold-mark"></div>
          </section>
        }
      }

      <section class="page page--body">
        <div class="banner">
          <img ngSrc="/assets/images/ESS-Versatz-Logo+Claim.png" fill alt="Eisenstecken">
        </div>
        <div class="side-text">
          MwSt.-Nr./P.IVA IT00745560219<span class="sep">|</span>St.-Nr./C.F. 00745560219<span class="sep">|</span>Eintr.-Nr
          HK / N.iscr.reg.Imp. BZ-125676<span class="sep">|</span>Ges.Kap. / Cap.soc 120.000,00 € v.e. / i.v.<span
          class="sep">|</span>eisenstecken&commat;pec.it<span class="sep">|</span>Empf.-Kod./Cod. Dest. SUBM70N
        </div>
        <div class="content">
          <div class="price-box">
            <div class="pb-head">
              <div class="cell">{{ labels.sumNet }}</div>
              <div class="cell">
                @if (sconto !== 0) {
                  {{ labels.sumSconto }} {{ sconto.toFixed(2) }} %
                }
              </div>
              <div class="cell right">{{ labels.vatAmount }} ({{ vatPercent }}%)</div>
              <div class="cell cell--last">{{ labels.totalGross }}</div>
            </div>
            <div class="pb-values">
              <div class="cell">{{ formatCurrency(total, "de-DE", "€") }}</div>
              <div class="cell cell--bold">
                @if (sconto !== 0) {
                  {{ formatCurrency(totalSconted, "de-DE", "€") }}
                }
              </div>
              <div class="cell right">{{ formatCurrency(vat, "de-DE", "€") }}</div>
              <div class="cell cell--last">{{ formatCurrency(totalBrutto, "de-DE", "€") }}</div>
            </div>
          </div>
          <div class="includes">
            <p>{{ inPriceIncluded }}{{ data.offer.inPriceIncluded }}</p>
            <p>{{ validity }}{{ data.offer.validity }}</p>
            <p>{{ delivery }}{{ data.offer.delivery }}</p>
            <p>{{ payment }}{{ data.offer.payment }}</p>
            <div class="gap"></div>
            <p>{{ footer_text }}</p>
          </div>
          <div class="salutation-signature">
            <div class="salutation">
              <div class="sal-greeting">{{ mfg }}</div>
              <img ngSrc="/assets/images/signature_eisenstecken_hannes.svg" [width]="mm(45)"
                   [height]="mm(45*(104/294))"
                   alt="Unterschrift">
              <div class="sal-name">{{ name }}</div>
              <div class="sal-role">{{ position }}</div>

              <div class="sal-contact">M&nbsp;&nbsp;+39 328 35 27 802&nbsp;&nbsp;|&nbsp;&nbsp;hannes&commat;eisenstecken.it</div>
            </div>
            <div class="signature">
              <div class="dig-title">{{ labels.onAcceptance }}</div>
              <div class="cs-line">
                <div class="field field--date">
                  <div class="rule"></div>
                  <div class="lbl">{{ labels.date }}</div>
                </div>
                <div class="field field--place">
                  <div class="rule"></div>
                  <div class="lbl">{{ labels.place }}</div>
                </div>
              </div>
              <div class="cs-line">
                <div class="field field--place">
                  <div class="rule"></div>
                  <div class="lbl">{{ labels.signature }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="closing-logos">
            <img ngSrc="/assets/images/ESS-Versatz-Ergaenzungs-Logos.jpg" [height]="mm(17)"
                 [width]="mm(17*(4913/896))" alt="">
            <img ngSrc="/assets/images/lehrlinge2024.jpg" [height]="mm(17)" [width]="mm(17*(1240/1748))" alt="">
          </div>
        </div>

        <div class="footer">
          <div class="frow frow--first">
            <span class="fcell">Eisenstecken GmbH/Srl</span>
            <span class="fcell">Handwerkerzone 1</span>
            <span class="fcell">T +39 0472 85 52 48</span>
            <span class="fcell">info&commat;eisenstecken.it</span>
          </div>
          <div class="frow frow--second">
            <span class="fcell"></span>
            <span class="fcell">39040 Feldthurns/Velturno - Italy</span>
            <span class="fcell">M +39 328 35 27 802</span>
            <span class="fcell">www.eisenstecken.it</span>
          </div>
        </div>

        <div class="fold-mark"></div>
      </section>

    </div>
  </div>

</div>
<mat-dialog-actions>
  <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
    <button type="button" mat-raised-button color="accent" (click)="onCloseClick()">Schließen</button>
    @if (loading$ | async) {
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    } @else {
      <button type="button" mat-raised-button color="primary" (click)="onGeneratePdf()"
              [disabled]="data.offer.id === -1">PDF
        Speichern
      </button>
    }
  </div>
</mat-dialog-actions>
