<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" class="dialog-content">
  <form (submit)="onSaveClick()" [formGroup]="contactGroup">
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="lastname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Geschäftskunde</mat-label>
        <input matInput formControlName="name1">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input (keypress)="numberOnly($event)" matInput formControlName="tel">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mail</mat-label>
        <input matInput formControlName="mail">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Notiz</mat-label>
        <input matInput formControlName="note">
      </mat-form-field>
      <mat-button-toggle-group [formControl]="contactType">
        <mat-button-toggle [value]="supplierEnum">Lieferant</mat-button-toggle>
        <mat-button-toggle [value]="clientEnum">Kunde</mat-button-toggle>
        <mat-button-toggle [value]="managementEnum">Verwaltung</mat-button-toggle>
      </mat-button-toggle-group>

      @if (showClientAutoComplete) {
        <mat-form-field appearance="fill">
          <mat-label>Kunde</mat-label>
          <input type="text" matInput [formControl]="clientAutoCompleteText" [matAutocomplete]="autoClient">
          <mat-autocomplete #autoClient="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)="getClientId($event.option.value)">
            @for (option of filteredClientOptions | async; track option) {
              <mat-option [value]="option">
                {{option.name}}
              </mat-option>
            }
          </mat-autocomplete>
          @if (!createMode) {
            <span>Vorher: {{clientSelectedName}}</span>
          }
        </mat-form-field>
      }
      @if (showSupplierAutoComplete) {
        <mat-form-field appearance="fill">
          <mat-label>Unternehmen</mat-label>
          <input type="text" matInput [formControl]="supplierAutoCompleteText" [matAutocomplete]="autoSupplier">
          <mat-autocomplete #autoSupplier="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)="getSupplierId($event.option.value)">
            @for (option of filteredSupplierOptions | async; track option) {
              <mat-option [value]="option">
                {{option.name}}
              </mat-option>
            }
          </mat-autocomplete>
          @if (!createMode) {
            <span>Vorher: {{supplierSelectedName}}</span>
          }
        </mat-form-field>
      }
    </div>
    <span class="spacer"></span>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      @if (!createMode) {
        <button type="button" mat-button (click)="onDeleteClick()">Löschen</button>
      }
      <span class="spacer"></span>
      <button type="button" mat-button (click)="onCancelClick()">Abbrechen</button>
      <button [disabled]="canSave()" type="submit" mat-button class="add-button">
        Speichern
      </button>
    </div>
  </form>
</div>
