<app-loading [loading]="loading">
    <mat-tab-group fxFlexFill dynamicHeight="false" class="tab-group">
        <mat-tab label="Kalender" fxFlexFill>
            <div fxLayout="row" fxLayoutAlign="center start">
                <div fxLayout="column" fxLayoutAlign=" center"  *ngFor="let calendar of calendars$ | async" fxFlexFill>
                    <p fxFlexFill>{{calendar.name}}</p>
                    <app-calendar [public]="calendar.open" [calendarId]="calendar.id" fxFlexFill>
                    </app-calendar>
                </div>
            </div>
        </mat-tab>
        <mat-tab #chatTab label="{{chatTabName}}" fxFlexFill>
            <app-chat></app-chat>
        </mat-tab>
    </mat-tab-group>
</app-loading>

