app-loading {
  max-height: 100%;
  min-height: 100%;

  .tab-group {
    // gfollt mo nimmer  box-shadow: 0 1px 0.5px 0px rgb(0 0 0 / 30%);
  }
}

.app-calendar {
  width: 50%;
}

.calenderside {
  min-width: 48%;
  max-width: 50%;
  margin-right: 10px;
}

.tab-left {
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  ::ng-deep .mat-tab-label {
    padding: 0px !important; // adjust this to whatever padding you need
    justify-content: left !important;
  }
}

