<app-loading [loading]="loading">
  <div class="outer-container">
      <div class="app-calendar-tab" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="center start" fxFlexFill class="container">
          @for (calendar of calendars$ | async; track calendar) {
            <div fxLayout="column" fxLayoutAlign=" stretch" class="calenderside">
              <p fxFlexFill>{{calendar.name}}</p>
              <app-calendar [public]="calendar.open" [calendarId]="calendar.id" fxFlexFill>
              </app-calendar>
            </div>
          }
        </div>
      </div>
  </div>
</app-loading>

