app-loading {
  max-height: 100%;
  min-height: 100%;
}

.app-calendar {
  width: 50%;
}

.calenderside {
  min-width: 48%;
  max-width: 50%;
  margin-right: 10px;
}

.tab-group {
  background-color: red;
  height: 50vh;
}
