@use "sass:map";
@use 'theme' as theme;

body,
html {
  margin: 0 !important;
  height: 100% !important;
}

:root {
  font-family: Roboto, serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: map.get(theme.$mat-primary, 200);
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb:hover {
  background: map.get(theme.$mat-primary, main);
}

::-webkit-scrollbar-track:hover {
  background: #ccc;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

.datepicker {
  background-color: white !important;
}

.datepicker {
  background-color: white !important;
}
