<h1 mat-dialog-title>Bestellte Artikel verschieben</h1>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-stepper [linear]="true" >
      <mat-step>
        <ng-template matStepLabel>Artikel auswählen</ng-template>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <p>Welche Artikel sollen verschoben werden?</p>
          <mat-selection-list #orderable [multiple]="false" (selectionChange)="orderableClicked()">
            @for (orderedArticle of orderedArticles$ | async; track orderedArticle.id) {
              <mat-list-option [value]="orderedArticle">
                {{ orderedArticle.name.translation }}
              </mat-list-option>
            }
          </mat-selection-list>
          @if (atLeastOneArticleSelected) {
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <button mat-raised-button matStepperNext>Weiter</button>
            </div>
          }
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Ziel auswählen</ng-template>
        <div fxLayout="column" fxLayoutAlign="space-around center">
        </div>
        <p>Wohin sollen die Artikel verschoben werden?</p>
        <mat-selection-list #orderable [multiple]="false" (selectionChange)="orderableClicked()">
          @for (o of orderableTargets$ | async; track o.id) {
            <mat-list-option [value]="o">
              {{ o.name }}
            </mat-list-option>
          }
        </mat-selection-list>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button mat-raised-button matStepperPrevious>Zurück</button>
          @if (oneOrderableSelected) {
            <button mat-raised-button matStepperNext>Weiter</button>
          }
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Bestätigen</ng-template>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <p>Ausgewählte Artikel: </p>
          <mat-list>
            @for (selectedArticle of articlesSelected.selectedOptions.selected; track selectedArticle) {
              <mat-list-item>
                {{ $any(selectedArticle.value).article?.name?.translation }}
              </mat-list-item>
            }
          </mat-list>
          @if (orderable.selectedOptions.selected?.length) {
            <p>
              Ziel: {{ $any(orderable.selectedOptions.selected[0].value).name }}
            </p>
          }
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button mat-raised-button matStepperPrevious>Zurück</button>
          <button mat-raised-button (click)="onSubmitClick()">Verschieben</button>
        </div>
      </mat-step>
    </mat-stepper>

  </div>
</div>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Abbrechen</button>
</mat-dialog-actions>
