<div class="root" fxLayout="column" fxLayoutAlign="space-between stretch">

  <div class="top-bar" fxFlex="10">
    <div fxFlex="40" fxFlexFill></div>
    <div fxFlex="30" fxFlexFill fxLayoutAlign="center center" class="hidden">
      <img alt="Eisenstecken-logo" class="logo" src="assets/logos/ESS-Logo-RGB-Pos-Small.jpg">
    </div>
    <div fxFlex="25" fxFlexFill></div>
  </div>
  <div class="window-container" fxFlex="90" fxLayout="row" fxLayoutAlign="space-between center">
    <app-calendars-frame fxFlex="40" fxFlexFill></app-calendars-frame>
    <app-note fxFlex="30" fxFlexFill></app-note>
    <app-menu-tiles fxFlex="25" fxFlexFill></app-menu-tiles>
  </div>
</div>
<div class="info-button-container">
  <app-circle-icon-button icon="info" (click)="showInfoClicked()" />
</div>

<!--- bitte amol do lossn :) resolution 2560x1440
# resolution screen screenresolution screen-resolution
-->
