<div fxLayout="column" fxLayoutAlign="space-between stretch" class="root">
    <div fxFlex="15" class="top-bar">
        <img class="logo" src="assets/logos/ESS-Logo-RGB-Pos-Small.jpg" alt="Eisenstecken-logo">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="85" class="window-container">
        <app-calendars-frame fxFlex="40" fxFlexFill></app-calendars-frame>
        <app-note fxFlex="30" fxFlexFill></app-note>
        <app-menu-tiles fxFlex="25" fxFlexFill></app-menu-tiles>
    </div>
</div>
<button class="info" mat-raised-button mat-icon-button (click)="showInfoClicked()" title="Info">
    <mat-icon>info</mat-icon>
</button>

<!--- bitte amol do lossn :) resolution 2560x1440
# resolution screen screenresolution screen-resolution
-->
