<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="dialogFormGroup">
    <pre class="hidden">
     {{ dialogFormGroup.get('eventType').value | json }}
   </pre>
    <mat-selection-list formControlName="eventType" [multiple]="false">
      <mat-list-option *ngFor="let companyEvent of availableEventTypes" [value]="companyEvent">
        {{ translate(companyEvent) }}
      </mat-list-option>
    </mat-selection-list>
    <mat-form-field appearance="fill" *ngIf="showDescription">
      <mat-label>Beschreibung</mat-label>
      <input class="form-control" formControlName="title" matInput>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Abbrechen</button>
  <button mat-button (click)="onDeleteClick()">Löschen</button>
  <span class="spacer"></span>
  <button mat-button (click)="onSaveClick()">Speichern</button>
</div>
